<main class="content">
    <div class="db-dashboard-main">
        <div class="row">
            <!-- Theo ngày -->
            <div class="col-md-6">
                <div class="db-card-style bg-db-card-day">
                    <div class="db-icon-img">
                        <!-- <img src="./../../icons/calendar.png" alt="Hình ảnh"> -->
                        <img src="https://media.istockphoto.com/id/181866332/vi/anh/l%E1%BB%8Bch-t%C6%B0%E1%BB%9Dng-%C4%91%E1%BB%8F.jpg?s=2048x2048&w=is&k=20&c=MiwqKdbjJPkev1-QcwcNL6-Z0cp83aGF-0LYIEkA5yM="
                            alt="Hình ảnh">

                    </div>
                    <div class="db-date">
                        Hôm nay
                    </div>
                    <div class="db-number-total">
                        {{tongDoanhThuNgay}} đ
                    </div>
                    <div class="db-list-item-info">
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Sản phẩm
                            </div>
                            <div class="db-item-number">
                                {{tongSanPhamNgay}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn thành công
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangNgay}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn hủy
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangHuyNgay}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn trả
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Theo tuần -->
            <div class="col-md-6 ">
                <div class="db-card-style bg-db-card-week">
                    <div class="db-icon-img">
                        <!-- <img src="./../../icons/calendar.png" alt="Hình ảnh"> -->
                        <img src="https://media.istockphoto.com/id/181866332/vi/anh/l%E1%BB%8Bch-t%C6%B0%E1%BB%9Dng-%C4%91%E1%BB%8F.jpg?s=2048x2048&w=is&k=20&c=MiwqKdbjJPkev1-QcwcNL6-Z0cp83aGF-0LYIEkA5yM="
                            alt="Hình ảnh">

                    </div>
                    <div class="db-date">
                        Tuần này
                    </div>
                    <div class="db-number-total">
                        {{tongDoanhThuTuan}} đ
                    </div>
                    <div class="db-list-item-info">
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Sản phẩm
                            </div>
                            <div class="db-item-number">
                                {{tongSanPhamTuan}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn thành công
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangTuan}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn hủy
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangHuyTuan}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn trả
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <!-- Theo tháng -->
            <div class="col-md-6">
                <div class="db-card-style bg-db-card-month">
                    <div class="db-icon-img">
                        <!-- <img src="./../../icons/calendar.png" alt="Hình ảnh"> -->
                        <img src="https://media.istockphoto.com/id/181866332/vi/anh/l%E1%BB%8Bch-t%C6%B0%E1%BB%9Dng-%C4%91%E1%BB%8F.jpg?s=2048x2048&w=is&k=20&c=MiwqKdbjJPkev1-QcwcNL6-Z0cp83aGF-0LYIEkA5yM="
                            alt="Hình ảnh">

                    </div>
                    <div class="db-date">
                        Tháng này
                    </div>
                    <div class="db-number-total">
                        {{tongDoanhThuThang}} đ
                    </div>
                    <div class="db-list-item-info">
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Sản phẩm
                            </div>
                            <div class="db-item-number">
                                {{tongSanPhamThang}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn thành công
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangThang}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn hủy
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangHuyThang}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn trả
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Theo năm -->
            <div class="col-md-6">
                <div class="db-card-style bg-db-card-year">
                    <div class="db-icon-img">
                        <!-- <img src="./../../icons/calendar.png" alt="Hình ảnh"> -->
                        <img src="https://media.istockphoto.com/id/181866332/vi/anh/l%E1%BB%8Bch-t%C6%B0%E1%BB%9Dng-%C4%91%E1%BB%8F.jpg?s=2048x2048&w=is&k=20&c=MiwqKdbjJPkev1-QcwcNL6-Z0cp83aGF-0LYIEkA5yM="
                            alt="Hình ảnh">

                    </div>
                    <div class="db-date">
                        Năm này
                    </div>
                    <div class="db-number-total">
                        {{tongDoanhThuNam}} đ
                    </div>
                    <div class="db-list-item-info">
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Sản phẩm
                            </div>
                            <div class="db-item-number">
                                {{tongSanPhamNam}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn thành công
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangNam}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn hủy
                            </div>
                            <div class="db-item-number">
                                {{tongDonHangHuyNam}}
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn trả
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" ng-class="{'hidden': !showDiv}">
            <!-- Tuy chọn -->
            <div class="">
                <div class="db-card-style bg-db-card-option">
                    <div class="db-icon-img">
                        <!-- <img src="./../../icons/calendar.png" alt="Hình ảnh"> -->
                        <img src="https://media.istockphoto.com/id/181866332/vi/anh/l%E1%BB%8Bch-t%C6%B0%E1%BB%9Dng-%C4%91%E1%BB%8F.jpg?s=2048x2048&w=is&k=20&c=MiwqKdbjJPkev1-QcwcNL6-Z0cp83aGF-0LYIEkA5yM="
                            alt="Hình ảnh">

                    </div>
                    <div class="db-date">
                        Tùy chỉnh
                    </div>
                    <div class="db-number-total">
                        1,000,000 đ
                    </div>
                    <div class="db-list-item-info">
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Sản phẩm
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn thành công
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn hủy
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                        <div class="db-item-info">
                            <div class="db-item-heading">
                                Đơn trả
                            </div>
                            <div class="db-item-number">
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start Phần 2 -->
        <div class="db-table-list p-2 mt-3">
            <div class="db-title">
                Bộ lọc
            </div>
            <div class="filter-db-table">
                <div class="item-filter-db-table">
                    <a href="" ng-click="getSanPhamBanChayNgay()">Ngày</a>
                </div>
                <div class="item-filter-db-table">
                    <a href="" ng-click="getSanPhamBanChayTuan()">Tuần</a>
                </div>
                <div class="item-filter-db-table">
                    <a href="" ng-click="getSanPhamBanChayThang()">Tháng</a>
                </div>
                <div class="item-filter-db-table">
                    <a href="" ng-click="getSanPhamBanChayNam()">Năm</a>
                </div>
                <div class="item-filter-db-table">
                    <a href="" ng-click="toggleDiv()">Tùy chỉnh</a>
                </div>
                <div class="item-input-filter-db-table" ng-class="{'hidden': !showDiv}">
                    Từ:
                    <input type="date" name="" id="" />
                </div>
                <div class="item-input-filter-db-table" ng-class="{'hidden': !showDiv}">
                    Đến:
                    <input type="date" name="" id="" />
                </div>
                <div class="item-filter-db-table btn-export-excel">
                    Xuất Excel
                </div>
            </div>
            <div class="row mt-3">
                <!-- Danh sách bảng -->

                <div class="col-md-8">
                    <div class="db-table">
                        <div class="heading-db-table">
                            Danh sách sản phẩm bán chạy
                        </div>
                        <table class="table">
                            <thead class="heading-table">
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá tiền</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-table">
                                <tr ng-repeat="sanPhamBanChay in sanPhamBanChay">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>
                                        <div class="img-table-avatar">
                                            <img ng-src="{{sanPhamBanChay.anh_mac_dinh}}" alt="Hình ảnh">
                                        </div>
                                    </td>
                                    <td class="text-left">{{sanPhamBanChay.ten_sanpham}}</td>
                                    <td class="text-center">{{sanPhamBanChay.so_luong_ban}}</td>
                                    <td class="text-right">{{sanPhamBanChay.price | currency}}</td>
                                    <!-- <td class="text-right">{{sanPhamBanChay.doanh_thu | currency}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Sơ đồ -->

                <div class="col-md-4">
                    <div class="chart-db">
                        <div class="heading-db-table">
                            Biểu đồ trực quan
                        </div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Phần 2 -->
    </div>
</main>