<style>
    .voucher-status {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.ongoing .voucher-status {
  color: green;
  border: 1px solid green;
}

.upcoming .voucher-status {
  color: orange;
  border: 1px solid orange;
}

.modal-dialogVoucher {
  max-width: 600px;
  margin: 30px auto;
}

.modal-content {
  padding: 15px;
}

.voucher-list {
  max-height: 400px;
  overflow-y: auto;
}

.voucher-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.voucher-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.voucher-left {
  flex: 1;
  padding-right: 20px;
}

.voucher-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  color: #4caf50;
  font-size: 20px;
  text-align: center;
}
.voucher-right-contain {
  display: flex;
  align-items: center;

}
.voucher-left p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.voucher-left h5 {
  font-size: 16px;
  color: #001f5d;
  margin: 10px 0 5px;
}

.selected-voucher .voucher-right {
  border-color: #4caf50;
  background-color: #e8f5e9;
}

.addmark {
  color: #dcdcdc;
}

.modal-header h5 {
  font-size: 18px;
  font-weight: bold;
}

.modal-footer {
  text-align: center;
}

.modal-footer .btn {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}

.limit-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
}
</style>
<div class="main-content p-0" ng-controller="SellQuicklyController">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper" style="overflow: hidden; margin: 6px 0px 10px 0px">
                <div class="mb-2 box-bills">
                    <div class="row align-items-center">
                        <div class="col-sm-5 p-0 d-flex align-items-center">
                            <div class="box-container container-fluid m-0">
                                <div class="form-group has-search">
                                    <form>
                                        <i class="material-icons">
                                            search
                                        </i>
                                        <input ng-model="keyword" ng-change="debounceSearch()" id="search-product" type="text" class="form-control" placeholder="Tìm hàng hóa">
                                    </form>
                                    <div id="item-list" class="product-list" >
                                        <div id="loading" class="justify-content-center align-items-center" style="display: none; height: 50px;">
                                            <div class="spinner-border" role="status">
                                              <span class="visually-hidden">Loading...</span>
                                            </div>
                                          </div>
                                          <div id="responseNull" class="justify-content-center align-items-center" style="height: 80px; display: none;">Không tìm thấy kết quả nào phù hợp</div>
                                        <div ng-repeat="productDetail in productDetails" class="product" ng-click="!loading && addProductCart(productDetail)">
                                            <img class="col-2" ng-src="{{productDetail.imagePath ? productDetail.imagePath : 'common/img/no-image.png'}}" alt="">
                                            <div class="col-6 p-details">
                                                <h2>{{productDetail.product.name}} {{productDetail.color.name}}</h2>
                                                <h3>Size: {{productDetail.size.name}}</h3>
                                                <h3 ng-if="productDetail.quantity > 0">Tồn: {{productDetail.quantity}}</h3>
                                                <h3 ng-if="productDetail.quantity == 0">Tồn: <span class="text-danger">Hết hàng</span></h3>
                                            </div>
                                            <div class="col-4 p-details">
                                                <h1 ng-if="productDetail.promotionalPrice" style="text-decoration: line-through; color: #ccc;">
                                                    {{formatCurrency(productDetail.product.price)}} VND
                                                </h1>
                                                <h1 ng-if="productDetail.promotionalPrice">
                                                    {{formatCurrency(productDetail.promotionalPrice)}} VND
                                                </h1>
                                                <h1 ng-if="!productDetail.promotionalPrice">
                                                    {{formatCurrency(productDetail.product.price)}} VND
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button ng-click="createBarcode()" type="button" class="btn btn-light d-flex align-items-center"><span class="material-icons">
                                qr_code_scanner
                                </span></button>
                        </div>
                       
                        <div class="col-sm-7 p-0 d-flex">
                            <nav>
                                <div style="height: 102px; border: none;" class="nav nav-tabs ms-4" id="nav-tab" role="tablist">
                                    <button ng-repeat="bill in bills" ng-click="getBill(bill.id)" data-bs-toggle="tab" class="nav-link nav-bill d-flex align-items-center" ng-class="{'active' : bill.id === selectedBill.id}" type="button" role="tab">{{bill.code}}
                                        <span ng-click="removeBill(!loadingRemove && bill)" type="button" class="icon-bill material-icons">
                                            close
                                            </span>
                                    </button>
                                    <button ng-if="bills.length < 8" ng-click="addBill()" type="button" class="btn p-0 ms-2 d-flex align-items-center"><i class="icon-add material-icons">add_circle</i></button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 mb-2">
                <div class="tab-pane p-0 fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="tab-content pt-4 pb-4" style="max-height: 550px;">
                        <div class="row m-0">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <span class="material-icons me-2">
                                            shopping_cart
                                        </span> Giỏ hàng
                                      </div>
                                    <div class="card-body" style="height: 500px; overflow-y: scroll;">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="item in selectedBill.billDetail">
                                                    <td style="font-size: 16px;">{{item.productDetail.product.name}} {{item.productDetail.color.name}}
                                                        <br />
                                                        <i style="font-size: 14px;">Size: {{item.productDetail.size.name}}</i>
                                                    </td>
                                                    <td class="w-25">
                                                        <div class="d-flex">
                                                            <button ng-disabled=remove ng-click="removeQuantity(item.productDetail)" class="btn btn-outline-primary btn-sm px-1 d-flex align-items-center">
                                                                <i class="material-icons">
                                                                    remove
                                                                    </i>
                                                            </button>
                    
                                                                <input  ng-init="item.originalQuantity = item.quantity"  ng-change="changeQuantity(item)" id="form1" min="1" name="quantity" ng-model="item.quantity" type="number"
                                                                       class="text-center mx-2 form-control form-control-sm" />
                    
                                                            <button ng-disabled=add ng-click="addQuantity(item.productDetail)" class="btn btn-outline-primary btn-sm px-1 d-flex align-items-center"
                                                                   >
                                                                   <i class="material-icons">
                                                                    add
                                                                    </i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td style="line-height: 35px"><p class="m-0 fw-bold">{{formatCurrency(item.promotionalPrice)}} VND</p></td>
                                                    <td><button ng-click="deletePDCart(item.productDetail)" class="btn btn-light border text-danger icon-hover-danger d-flex align-items-center"><i class="material-icons">
                                                        delete
                                                        </i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <span class="material-icons me-2">
                                            paid
                                        </span> Thanh toán
                                      </div>

                                    <div class="card-body p-0 d-flex flex-column" style="height: 500px">
                                       <div class="payment p-3" style="height: 450px; overflow-y: scroll; ">
                                        <div ng-show="selectedBill.billDetail.length > 0" class="form-group d-flex align-items-center">
                                            <div class="form-check w-50">
                                                <input ng-model="isChecked" 
                                                       ng-change="updateTypeBill()" 
                                                       class="form-check-input" 
                                                       style="margin-top: 8px;" 
                                                       type="checkbox" 
                                                       id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Giao hàng</label>
                                            </div>
                                            
                                           <button ng-show="selectedBill.typeBill === 2" data-bs-toggle="modal" 
                                                   data-bs-target="#addressModal2" 
                                                   type="button" 
                                                   class="btn d-flex justify-content-center w-75 btn-outline-primary">
                                               Địa chỉ giao hàng
                                           </button>
                                        </div>    
                                        <p ng-if="messageShip" style="margin-top: 8px; color: green;">{{messageShip}}</p>
                                    
                                        <div class="box-container mt-2">
                                            <div ng-if="selectedBill.customer != null" class="customer-current" style="position: relative;">
                                                <span class="btn btn-outline-primary w-100 text-start" data-bs-toggle="modal" data-bs-target="#customerUpdateModal" ng-click="showCustomerUpdate()">
                                                    <i class="ri-user-3-fill"></i>
                                                    {{selectedBill.customer.fullName}}
                                                </span>
                                                <span ng-click="removeCustomer()" type="button" class="material-icons icon-customer-remove">
                                                    close
                                                    </span>
                                            </div>
                                            <div class="form-group has-search">
                                                <form ng-show="!selectedBill.customer" style="width: 100%;">
                                                    <i class="material-icons">search</i>
                                                    <input ng-model="keywordCustomer" ng-change="debounceSearchCustomer()" id="search-customer" type="text" class="form-control" style="padding-right: 35px;" placeholder="Tìm khách hàng" />
                                                    <i data-bs-toggle="modal" data-bs-target="#customerModal" class="material-icons icon-add" style="right: 3px; padding: 5px; cursor: pointer;">add</i>
                                                </form>
                                                
                                                <div id="customer-list" class="product-list" style="width: 326px;">
                                                    <div id="loading-customer" class="justify-content-center align-items-center" style="display: none; height: 50px;">
                                                        <div class="spinner-border" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                    </div>
                                                    <div id="null-customer" class="justify-content-center align-items-center" style="height: 80px; display: none;">
                                                        Không tìm thấy kết quả nào phù hợp
                                                    </div>
                                                    <div ng-repeat="customer in customers" class="product" ng-click="setCustomerBill(customer)">
                                                        <div class="col-sm-3">
                                                            <div class="d-flex justify-content-center">
                                                                <img id="selectedImage" class="rounded-circle" ng-src="{{customer.avatar ? customer.avatar : 'common/img/no-image.png'}}"
                                                                alt="example placeholder" style="width: 60px; height: 60px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-9 p-details">
                                                            <h3>{{customer.fullName}}</h3>
                                                            <p style="font-size: 14px;">{{customer.code}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           

                                        </div>
                                        <div class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex">
                                                <p>Tổng tiền hàng</p>
                                                <!-- <p class="ms-4">{{totalQuantity}}</p> -->
                                                <p class="ms-auto">{{formatCurrency(selectedBill.totalAmount)}}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex align-items-center mt-2">
                                                <p class="m-0">Voucher</p>
                                                <div class="ms-auto"><button ng-click="openVoucherModal()" type="button" class="btn btn-outline-primary">{{selectedVoucher.selected ? selectedVoucher.code : 'Chọn voucher'}}</button></div>
                                            </div>
                                            <p ng-if="voucherMessage" style="margin-top: 8px;" ng-style="voucherMessage === 'Mã giảm giá đã được áp dụng' ? {'color': 'green'} : {'color': 'red'}">{{voucherMessage}}</p>

                                        </div>
                                        <!-- hải -->
                                        <div ng-if="selectedBill.billDetail.length > 0 && valueVoucher" class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex align-items-center">
                                                <p class="w-75">Số tiền giảm</p>
                                                <div class="ms-auto">
                                                    {{formatCurrency(valueVoucher)}}
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="selectedBill.billDetail.length > 0 && selectedBill.typeBill == 2 && selectedBill.addressId && shippingFee" class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex align-items-center">
                                                <p class="w-75">Phí giao hàng</p>
                                                <div class="ms-auto">
                                                    {{formatCurrency(shippingFee)}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex align-items-center">
                                                <p>Khách cần trả</p>
                                                <p class="ms-auto">
                                                    {{ formatCurrency(selectedBill.totalAmount - (valueVoucher || 0) + (shippingFee || 0)) }}
                                                </p>
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex align-items-center" ng-if="selectedBill.paymentMethod.code == '13' && selectedBill.billDetail.length > 0">
                                            <p class="w-75">Khách thanh toán</p>
                                            <div class="ms-auto">
                                                <input ng-model="selectedBill.paidAmount" class="form-control text-end" ng-change="changeInputPrice(selectedBill.paidAmount)" type="number">
                                            </div>
                                        </div>
                                        
                                        <div ng-if="selectedBill.billDetail.length > 0 && selectedBill.paidAmount && selectedBill.paymentMethod.code == '13' && (selectedBill.paidAmount != (selectedBill.totalAmount - (valueVoucher || 0) + (shippingFee || 0)))" class="d-flex flex-column" style="font-size: 16px;">
                                            <div class="d-flex">
                                                <p>Tiền thừa trả khách</p>
                                                <p class="ms-auto">
                                                    {{ formatCurrency(selectedBill.paidAmount - (selectedBill.totalAmount - (valueVoucher || 0) + (shippingFee || 0))) }}
                                                </p>
                                            </div>
                                        </div>
                                        <div ng-if="selectedBill.billDetail.length > 0" class="d-flex flex-row mt-2" style="font-size: 15px;">
                                            <div class="d-flex align-items-center me-3" ng-repeat="paymentMethod in getFilteredPaymentMethods()">
                                                <input ng-model="selectedBill.paymentMethod.id" class="form-check-input" type="radio" ng-change="updateBill()" name="paymethod" ng-value="paymentMethod.id">
                                                <label class="form-check-label ms-2">{{paymentMethod.name}}</label>
                                            </div>
                                        </div>
                                       </div>
                                       <button ng-click="paymentBill()" type="button" class="btn btn-primary mx-2" ng-class="{'disabled' : !selectedBill}">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteBill" tabindex="-1" aria-labelledby="editDeleteBill" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editDeleteBill">Đóng hóa đơn</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Thông tin của hóa đơn sẽ không được lưu lại. Bạn có chắc muốn đóng không
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ qua</button>
              <button ng-click="apiRemoveBill()" type="button" class="btn btn-danger">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thêm khách hàng</h5>
              <button ng-click="resetCustomer()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="customerForm" ng-submit="createCustomer()" novalidate>
                <div class="modal-body">
                    <div class="row m-0">
                        <div class="col-sm-3">
                            <div class="mb-4 d-flex justify-content-center">
                                <img id="selectedImage" class="rounded-circle" ng-src="{{customer.avatar ? customer.avatar : 'common/img/no-image.png'}}"
                                alt="example placeholder" style="width: 100%;" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                                    <label class="form-label text-white m-1" style="cursor: pointer;" for="customFile">Chọn ảnh</label>
                                    <input id="customFile" type="file" class="form-control d-none" custom-on-change="uploadFile"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group mt-3">
                                <label>Tên khách hàng <span ng-if="!customer.fullName" class="text-danger">*</span></label>
                                <input type="text" ng-model="customer.fullName" class="form-control" placeholder="Tên khách hàng" required>
                            </div>
                            <div class="form-group mt-3">
                                <label>Ngày sinh</label>
                                <input type="date" ng-model="customer.birthDate" class="form-control" >
                                <p class="text-danger" ng-if="errors.birthDate">{{errors.birthDate}}</p>
                            </div>
                            <div class="form-group mt-3 d-flex">
                                <label class="me-3">Giới tính:</label>
                                <div class="form-check d-flex align-items-center">
                                    <input ng-model="customer.gender" class="form-check-input" type="radio" name="gioiTinh" id="addRadioMan" ng-value="true">
                                    <label class="form-check-label" for="addRadioMan" style="padding: 0 15px 0px 5px;">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center">
                                    <input ng-model="customer.gender" class="form-check-input" type="radio" name="gioiTinh" id="addRadioFemale" ng-value="false">
                                    <label class="form-check-label" for="addRadioFemale" style="padding: 0 15px 0px 5px;">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label>Số điện thoại <span ng-if="!phoneNumber" class="text-danger">*</span></label>
                                <input type="text" ng-model="phoneNumber" class="form-control" placeholder="Số điện thoại" required>
                                <p class="text-danger" ng-if="errors.phoneNumber">{{errors.phoneNumber}}</p>

                            </div>
                            <div class="form-group mt-3">
                                <label>Địa chỉ cụ thể <span ng-if="!addressDetail" class="text-danger">*</span></label>
                                <input type="text" ng-model="addressDetail" class="form-control" placeholder="Số nhà, tòa nhà, ngõ, đường" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="id-label-province">Tỉnh thành <span ng-if="!provinceValue" class="text-danger">*</span></label>
                                <div class="mt-2">
                                    <select class="province" id="id-label-province" data-placeholder="Chọn tỉnh thành">
                                        <option></option>
                                        <option ng-repeat="province in provinces" value="{{province.ProvinceID}}">{{province.ProvinceName}}</option>
                                    </select>
                                </div>
                                <p class="text-danger" ng-if="errors.provice">{{errors.provice}}</p>

                            </div>
                            <div class="form-group mt-3">
                                <label for="id-label-district">Quận/huyện <span ng-if="!districtValue" class="text-danger">*</span></label>
                                <div class="mt-2">
                                    <select class="district" id="id-label-district" data-placeholder="Chọn quận/huyện">
                                        <option></option>
                                        <option ng-repeat="district in districts" value="{{district.DistrictID}}">{{district.DistrictName}}</option>
                                    </select>
                                </div>
                                <p class="text-danger" ng-if="errors.district">{{errors.district}}</p>

                            </div>
                            <div class="form-group mt-3">
                                <label for="id-label-ward">Phường/xã <span ng-if="!wardValue" class="text-danger">*</span></label>
                                <div class="mt-2">
                                    <select class="ward" id="id-label-ward" data-placeholder="Chọn phường/xã">
                                        <option></option>
                                        <option ng-repeat="ward in wards" value="{{ward.WardCode}}">{{ward.WardName}}</option>
                                    </select>
                                </div>
                                <p class="text-danger" ng-if="errors.ward">{{errors.ward}}</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button ng-click="resetCustomer()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                  <button id="addCustomer" type="submit" ng-disabled="customerForm.$invalid" class="btn btn-success">Thêm</button>
                  <button id="loadingAdd" class="btn btn-success" style="display: none;" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>   
                </div>
            </form>

            
          </div>
        </div>
      </div>
      <div class="modal fade" id="customerUpdateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateModal">Cập nhật khách hàng</h5>
              <button ng-click="resetCustomer()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="customerUpdateForm" ng-submit="updateCustomer()" novalidate>
                <div class="modal-body">
                    <div class="row m-0">
                        <div class="col-sm-3">
                            <div class="mb-4 d-flex justify-content-center">
                                <img id="selectedImage" class="rounded-circle" ng-src="{{customerUpdate.avatar ? customerUpdate.avatar : 'common/img/no-image.png'}}"
                                alt="example placeholder" style="width: 100%;" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                                    <label class="form-label text-white m-1" style="cursor: pointer;" for="customUpdateFile">Chọn ảnh</label>
                                    <input id="customUpdateFile" type="file" class="form-control d-none" custom-on-change="uploadUpdateFile"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group mt-3">
                                <label>Tên khách hàng <span ng-if="!customerUpdate.fullName" class="text-danger">*</span></label>
                                <input type="text" ng-model="customerUpdate.fullName" class="form-control" placeholder="Tên khách hàng" required>
                            </div>
                            <div class="form-group mt-3">
                                <label>Ngày sinh</label>
                                <input type="date" ng-model="customerUpdate.birthDate" class="form-control" >
                                <p class="text-danger" ng-if="errorsUpdate.birthDate">{{errorsUpdate.birthDate}}</p>
                            </div>
                            <div class="form-group mt-3 d-flex">
                                <label class="me-3">Giới tính:</label>
                                <div class="form-check d-flex align-items-center">
                                    <input ng-model="customerUpdate.gender" class="form-check-input" type="radio" name="gioiTinh" id="updateRadioMan" ng-value="true">
                                    <label class="form-check-label" for="addRadioMan" style="padding: 0 15px 0px 5px;">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center">
                                    <input ng-model="customerUpdate.gender" class="form-check-input" type="radio" name="gioiTinh" id="updateRadioFemale" ng-value="false">
                                    <label class="form-check-label" for="addRadioFemale" style="padding: 0 15px 0px 5px;">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label class="me-3">Địa chỉ:</label>
                                <div class="card">
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item list-address d-flex align-items-center p-2" ng-repeat="address in customerUpdate.addresses" data-bs-toggle="modal" data-bs-target="#addressUpdateModal" ng-click="showUpdateAddress(address)">
                                                <div class="d-flex flex-column">
                                                    <p class="m-0" style="font-size: 16px;">{{address.name}}, {{address.address}}</p>
                                                    <p class="m-0" style="font-size: 14px; font-weight: 400;">Số điện thoại: {{address.phoneNumber}}</p>
                                                </div>
                                                <div class="ms-auto" ng-if="address.defaultAddress">
                                                    <span class="badge bg-danger">Mặc định</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button data-bs-toggle="modal" data-bs-target="#addressModal" type="button" class="btn d-flex align-items-center justify-content-center mt-2 w-50 btn-outline-success"><span class="material-icons">
                                        add
                                        </span>Thêm địa chỉ</button>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button ng-click="resetCustomer()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                  <button id="updateCustomer" type="submit" ng-disabled="customerUpdateForm.$invalid" class="btn btn-success">Cập nhật</button>
                  <button id="loadingUpdate" class="btn btn-success" style="display: none;" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>   
                </div>
            </form>

            
          </div>
        </div>
      </div>

<!-- Xác nhận địa chỉ -->



<div class="modal fade" id="addressModal2" tabindex="-1" aria-labelledby="updateAddress" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addressCustomer">Nhập địa chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="addressAddForm" ng-submit="addAddressCustomer()" novalidate>
        <div class="modal-body">
            <div class="form-group mt-3">
                <label>Tên người nhận <span ng-if="!reciverName" class="text-danger">*</span></label>
                <input type="text" ng-model="reciverName" class="form-control" placeholder="Tên người nhận" required>
                <!-- <p class="text-danger" ng-if="errors.phoneNumber">{{errors.phoneNumber}}</p> -->
            </div>
            <div class="form-group mt-3">
                <label>Số điện thoại <span ng-if="!phoneNumber" class="text-danger">*</span></label>
                <input type="text" ng-model="phoneNumber" class="form-control" placeholder="Số điện thoại" required>
                <p class="text-danger" ng-if="errors.phoneNumber">{{errors.phoneNumber}}</p>
            </div>
            <div class="form-group mt-3">
                <label>Địa chỉ cụ thể <span ng-if="!addressDetail" class="text-danger">*</span></label>
                <input type="text" ng-model="addressDetail" class="form-control" placeholder="Số nhà, tòa nhà, ngõ, đường" required>
            </div>
            <div class="form-group mt-3">
                <label for="id-add-province2">Tỉnh thành <span ng-if="!provinceValue" class="text-danger">*</span></label>
                <div class="mt-2">
                    <select ng-model="provinceCode" class="province" id="id-add-province2" data-placeholder="Chọn tỉnh thành">
                        <option></option>
                        <option ng-repeat="province in provinces" value="{{province.ProvinceID}}">{{province.ProvinceName}}</option>
                    </select>
                </div>
                <p class="text-danger" ng-if="errors.provice">{{errors.provice}}</p>

            </div>
            <div class="form-group mt-3">
                <label for="id-add-district2">Quận/huyện <span ng-if="!districtValue" class="text-danger">*</span></label>
                <div class="mt-2">
                    <select ng-model="districtCode" class="district" id="id-add-district2" data-placeholder="Chọn quận/huyện">
                        <option></option>
                        <option ng-repeat="district in districts" value="{{district.DistrictID}}">{{district.DistrictName}}</option>
                    </select>
                </div>
                <p class="text-danger" ng-if="errors.district">{{errors.district}}</p>

            </div>
            <div class="form-group mt-3">
                <label for="id-add-ward2">Phường/xã <span ng-if="!wardValue" class="text-danger">*</span></label>
                <div class="mt-2">
                    <select ng-model="wardCode" class="ward" id="id-add-ward2" data-placeholder="Chọn phường/xã">
                        <option></option>
                        <option ng-repeat="ward in wards" value="{{ward.WardCode}}">{{ward.WardName}}</option>
                    </select>
                </div>
                <p class="text-danger" ng-if="errors.ward">{{errors.ward}}</p>
            </div>
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button ng-click="getAddressCustomer()" type="button" class="btn btn-primary" ng-class="{'disabled' : !selectedBill.customer}">Lấy địa chỉ hiện tại của khách</button>
          <button type="submit" ng-disabled="addressAddForm.$invalid"  class="btn btn-success">Xác nhận</button>
        </div>
        </form>
      </div>
    </div>
  </div>


<!-- Xác nhận địa chỉ -->



      <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="updateAddress" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAddress">Thêm địa chỉ</h5>
              <button ng-click="resetAddress()" type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal" aria-label="Close"></button>
            </div>
            <form name="addressAddForm" ng-submit="addAddress()" novalidate>
            <div class="modal-body">
                <div class="form-group mt-3">
                    <label>Số điện thoại <span ng-if="!phoneNumber" class="text-danger">*</span></label>
                    <input type="text" ng-model="phoneNumber" class="form-control" placeholder="Số điện thoại" required>
                    <p class="text-danger" ng-if="errors.phoneNumber">{{errors.phoneNumber}}</p>
                </div>
                <div class="form-group mt-3">
                    <label>Địa chỉ cụ thể <span ng-if="!addressDetail" class="text-danger">*</span></label>
                    <input type="text" ng-model="addressDetail" class="form-control" placeholder="Số nhà, tòa nhà, ngõ, đường" required>
                </div>
                <div class="form-group mt-3">
                    <label for="id-add-province">Tỉnh thành <span ng-if="!provinceValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select class="province" id="id-add-province" data-placeholder="Chọn tỉnh thành">
                            <option></option>
                            <option ng-repeat="province in provinces" value="{{province.ProvinceID}}">{{province.ProvinceName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.provice">{{errors.provice}}</p>

                </div>
                <div class="form-group mt-3">
                    <label for="id-add-district">Quận/huyện <span ng-if="!districtValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select class="district" id="id-add-district" data-placeholder="Chọn quận/huyện">
                            <option></option>
                            <option ng-repeat="district in districts" value="{{district.DistrictID}}">{{district.DistrictName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.district">{{errors.district}}</p>

                </div>
                <div class="form-group mt-3">
                    <label for="id-add-ward">Phường/xã <span ng-if="!wardValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select class="ward" id="id-add-ward" data-placeholder="Chọn phường/xã">
                            <option></option>
                            <option ng-repeat="ward in wards" value="{{ward.WardCode}}">{{ward.WardName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.ward">{{errors.ward}}</p>
                </div>
                <div class="form-group mt-3">
                    <div class="form-check form-switch">
                        <input ng-model="defaultAddress" class="form-check-input" style="margin-top: 8px;" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Địa chỉ mặc định</label>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
              <button ng-click="resetAddress()" type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal">Đóng</button>
              <button type="submit" ng-disabled="addressAddForm.$invalid"  class="btn btn-success">Thêm</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addressUpdateModal" tabindex="-1" aria-labelledby="addAddress" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateAddress">Cập nhật địa chỉ</h5>
              <button ng-click="resetAddress()" type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal" aria-label="Close"></button>
            </div>
            <form name="addressUpdateForm" ng-submit="updateAddress()" novalidate>
            <div class="modal-body">
                <div class="form-group mt-3">
                    <label>Số điện thoại <span ng-if="!phoneNumber" class="text-danger">*</span></label>
                    <input type="text" ng-model="phoneNumber" class="form-control" placeholder="Số điện thoại" required>
                    <p class="text-danger" ng-if="errors.phoneNumber">{{errors.phoneNumber}}</p>
                </div>
                <div class="form-group mt-3">
                    <label>Địa chỉ cụ thể <span ng-if="!addressDetail" class="text-danger">*</span></label>
                    <input type="text" ng-model="addressDetail" class="form-control" placeholder="Số nhà, tòa nhà, ngõ, đường" required>
                </div>
                <div class="form-group mt-3">
                    <label for="id-update-province">Tỉnh thành <span ng-if="!provinceValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select ng-model="provinceCode" class="province" id="id-update-province" data-placeholder="Chọn tỉnh thành">
                            <option></option>
                            <option ng-repeat="province in provinces" value="{{province.ProvinceID}}">{{province.ProvinceName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.provice">{{errors.provice}}</p>

                </div>
                <div class="form-group mt-3">
                    <label for="id-update-district">Quận/huyện <span ng-if="!districtValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select ng-model="districtCode" class="district" id="id-update-district" data-placeholder="Chọn quận/huyện">
                            <option></option>
                            <option ng-repeat="district in districts" value="{{district.DistrictID}}">{{district.DistrictName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.district">{{errors.district}}</p>

                </div>
                <div class="form-group mt-3">
                    <label for="id-update-ward">Phường/xã <span ng-if="!wardValue" class="text-danger">*</span></label>
                    <div class="mt-2">
                        <select ng-model="wardCode" class="ward" id="id-update-ward" data-placeholder="Chọn phường/xã">
                            <option></option>
                            <option ng-repeat="ward in wards" value="{{ward.WardCode}}">{{ward.WardName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" ng-if="errors.ward">{{errors.ward}}</p>
                </div>
                <div class="form-group mt-3" ng-show="!defaultAddress">
                    <div class="form-check form-switch">
                        <input ng-model="defaultAddressUpdate" ng-change="changeDefaultUpdate()" class="form-check-input" style="margin-top: 8px;" type="checkbox" id="updateDefaultAddress">
                        <label class="form-check-label" for="updateDefaultAddress">Địa chỉ mặc định</label>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
              <button ng-click="resetAddress()" type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal">Đóng</button>
              <button ng-if="!defaultAddress" type="button" class="btn btn-danger"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#addressDeleteModal">Xóa</button>
              <button type="submit" ng-disabled="addressUpdateForm.$invalid"  class="btn btn-success">Cập nhật</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addressDeleteModal" tabindex="-1" aria-labelledby="deleteAddress" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteAddress">Xóa địa chỉ</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Bạn có chắc muốn xóa địa chỉ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#customerUpdateModal">Hủy</button>
              <button ng-click="deleteAddress()" type="button" class="btn btn-danger">Xóa</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="voucherModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialogVoucher" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="voucherModalLabel">Mã ưu đãi</h5>
              <input type="text" class="form-control" ng-model="voucherSearch" ng-change="searchVoucher()" placeholder="Tìm kiếm mã ưu đãi" />
            </div>
            <div class="modal-body">
              <div class="voucher-list mt-3 mb-4">
                <div class="voucher-item" ng-repeat="voucher in customerVouchers" ng-click="voucher.show !== 2 && selectVoucher(voucher)" ng-class="{ 'selected-voucher': voucher.selected }">
                  <div class="voucher-content">
                    <div class="voucher-left">
                      <h5>{{ voucher.code }}</h5>
                      <h5>{{ voucher.name }}</h5>
                      <p>Giảm {{ formatCurrency(voucher.value) }}{{ voucher.discountType === 2 ? ' đ' : ' %' }} cho đơn từ {{ formatCurrency(voucher.minimumTotalAmount)  }} đ
                        <br/>Tối đa {{ formatCurrency(voucher.maximumReductionValue)  }} đ
                      </p>
                      <p>HSD: {{ voucher.endDate | date:'dd-MM-yyyy HH:mm' }}</p>
                      <span ng-if="voucher.show === 2" class="limit-message">Bạn đã sử dụng hết lượt giảm giá</span>
                      <span ng-if="voucher.quantity <= 0" class="limit-message">Giảm giá này đã hết số lượng</span>

                    </div>
                    <div class="voucher-right-contain">
                      <div class="voucher-right">
                        <span ng-if="voucher.quantity > 0 && voucher.show !== 2 && voucher.selected" class="checkmark">&#10003;</span>
                        <span ng-if="voucher.quantity > 0 && voucher.show !== 2 && !voucher.selected" class="addmark">+</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
        
          </div>
        </div>
      </div>
      <div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAddress">Thanh toán</h5>
              <button ng-click="changeRunCheckPaid()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <img class="m-auto" style="width: 20rem;" ng-src="{{qr}}" />
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="barcode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Quét barcode</h5>
              <button type="button" ng-click="clearBarCode()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="qr-reader" style="width: 600px; left: 70px;"></div>
            </div>
          </div>
        </div>
      </div>    
</div>