.price-input{
	width: 100%;
	display: flex;
	margin: 10px 0 10px;
  }
  .price-input .field{
	display: flex;
	width: 100%;
	height: 45px;
	align-items: center;
  }
  .field input{
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 19px;
	margin-left: 12px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #999;
	-moz-appearance: textfield;
  }

  .price-input .separator{
	width: 130px;
	display: flex;
	font-size: 19px;
	align-items: center;
	justify-content: center;
  }
  .slider{
	height: 5px;
	position: relative;
	background: #ddd;
	border-radius: 5px;
  }
  .slider .progress{
	height: 100%;
	left: 0%;
	right: 0%;
	position: absolute;
	border-radius: 5px;
	background: #17A2B8;
  }
  .range-input{
	position: relative;
  }
  .range-input input{
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  
.overlay {
    filter: grayscale(100%);
    opacity: 0.5;
}
		  .select2-search__field {
            width: 100% !important;
            height: auto !important;
            min-width: 2em;
            flex-grow: 1;
			color: #000 !important;
			border-radius: 0 !important;
        }
		.custom-file-input {
 			color: transparent;
			width: 130px;
		}
		.custom-file-input::-webkit-file-upload-button {
		visibility: hidden;
		}

		.custom-file-input::before {
			content: "Tải ảnh lên";
			color: #fff;
			display: inline-block;
			background: #0d6efd;
			padding: 5px 12px;
			outline: none;
			white-space: nowrap;
			cursor: pointer;
			font-weight: 400;
			border-radius: 2px;
			outline: none;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		}
		.custom-file-input:focus {
			outline: none !important;

		}
		.custom-file-input:active::before {
				transform: scale(.9) translate(0px, 2px);
			box-shadow:  inset 4px 4px 5px 0px rgba(0, 0, 0, 0.20);
			
		}

		.image_container {
			height: 120px;
			width: 140px;
			border-radius: 6px;
			overflow: hidden;
			margin: 10px;
		}

		.image_container img {
			height: 100%;
			width: 140px;
			object-fit: cover;
		}

		.image_container .close {
			top: 8px;
			right: 8px;
			color: red;
			font-size: 25px;
			line-height: 25px;
			font-weight: normal;
			cursor: pointer;
			padding: 0px 5px;
		}

		.image_container .cached {
			top: 8px;
			left: 16px;
			color: #0d6efd;
			font-size: 25px;
			line-height: 25px;
			font-weight: normal;
			cursor: pointer;
			padding: 0px 5px;
		}


		.image_container span:hover {
			background-color: #F3F6F9;
			border-radius: 50%;
		}
		
		.date {
			padding: 5px 12px;
			border: 1px solid #ddd;
			border-radius: 4px;
			flex: 1;
			font-size: 14px;
		}
		
		.overlay-loading {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
			display: none;
			align-items: center;
			justify-content: center;
		  }

		.loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: 20px solid #EAF0F6;
			border-radius: 50%;
			border-top: 20px solid #0d6efd;
			animation: spinner 4s linear infinite;
		  }
		  
		  @keyframes spinner {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		  }

		  .icon-bill {
			font-size: 16px;
			margin-left: 5px;
			padding: 5px;
			color: #fff;
		  }
		  
		  
		  .icon-bill:hover {
			border-radius: 50%;
			background-color: #ccc;
			color: #000;
		  }

		  .icon-add {
			font-size: 22px;
			padding: 5px;
			color: #fff;
		  }

		  .icon-add:hover {
			border-radius: 50%;
			background-color: #ccc;
			color: #000;
		  }

		  .nav-bill {
			color: #fff;
		  }

		  .nav-bill:hover {
			color: #fff;
		  }

		  .nav-bill.active .icon-bill {
			color: #000;
		  }
		  
		  

		  .box-bills {
			background-color: #353b48;
			border: 1px solid rgb(82, 74, 235); 
			padding: 10px 20px;
		  }


		  .box-container form {
			position: relative;
			width: 400px;
			border: 1px solid rgb(82, 74, 235);
			border-radius: 4px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		
		.box-container form input{
			width: 100%;
			border: none;
			outline: none;
			box-shadow: none;
			font-size: 16px;
			font-weight: 600;
			padding-left: 35px;
		}

		.box-container form i {
			position: absolute;
			padding-left: 10px;
			color: #000;
			font-size: 20px;
		}

		.product-list {
			position: absolute;
			width: 400px;
			max-height: 520px;
			background-color: #fff;
			border-radius: 15px;
			box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
			margin-top: 5px;
			overflow-y: scroll;
			display: none;
			z-index: 100;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		}

		.product-list::-webkit-scrollbar {
			display: none;
		  }

		.product {
			padding: 10px;
			display: flex;
			align-items: center;
			cursor: pointer;
			padding-bottom: 5px;
			
		}

		.product:hover, #customerList button:hover {
			background-color: rgba(0,112,244, 0.1);
		}
		

		.product img {
			width: 60px;
			height: 80px;
			object-fit: cover;
			border-radius: 5px;
		}

		.product .p-details {
			padding-left: 15px;
		}

		.product .p-details h2 {
			font-size: 19px;
			color: #000;
		}
		
		.product .p-details h1 {
			font-size: 18px;
			color: #0070F4;
			text-align: right;
		}
		
		.product .p-details h3 {
			font-size: 15px;
			color: #1d1d1d;
		}
