<link rel="stylesheet" href="/src/admin/pages/bill-nguyen/bill.css">

<!-- <div class="container mt-5">
    <h1 class="mb-4">Quản lý hóa đơn</h1>

    <div class="border rounded p-3 mb-4 shadow bg-body">
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Mã hóa đơn" ng-model="filters.code">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Tên khách hàng" ng-model="filters.customerName">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Số điện thoại" ng-model="filters.phoneNumber">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" placeholder="Loại hóa đơn" ng-model="filters.typeBill">
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" ng-model="filters.startDate">
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" ng-model="filters.endDate">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <button class="btn btn-primary me-2" ng-click="applyFilters()">Lọc</button>
                <button class="btn btn-secondary" ng-click="resetFilters()">Reset</button>
            </div>
        </div>
    </div>
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createBillModal">Thêm hóa đơn</button>

    <ul class="nav nav-tabs" id="invoiceTabs" role="tablist">
        <li class="nav-item" role="presentation" ng-repeat="tab in tabs">
            <button class="nav-link" ng-class="{'active': currentTab === tab.status}" ng-click="setTab(tab.status)"
                type="button" role="tab">
                {{tab.label}} <span class="badge bg-secondary">{{tab.count}}</span>
            </button>
        </li>
    </ul>

    <div class="tab-content rounded  p-3 shadow mb-5 bg-body" id="invoiceTabsContent">
        <div class="tab-pane fade show active" role="tabpanel">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã hóa đơn</th>
                        <th>Khách hàng</th>
                        <th>Nhân viên</th>
                        <th>Ngày tạo</th>
                        <th>Thành tiền</th>
                        <th>Loại</th>
                        <th ng-if="currentTab == null">Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bill in bills">
                        <td>{{bill.id}}</td>
                        <td>{{bill.code}}</td>
                        <td>{{bill.customer.fullName ? bill.customer.fullName : 'Khách lẻ'}}</td>
                        <td>admin</td>
                        <td>{{bill.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{bill.totalAmount| number:0}} đ</td>
                        <td ng-switch="bill.typeBill" style="font-size: 20px;">
                            <span ng-switch-when="1">
                                <div class="badge bg-info text-wrap" style="width: 65%;">
                                    Tại quầy
                                </div>
                            </span>
                            <span ng-switch-when="2">
                                <div class="badge bg-secondary text-wrap" style="width: 65%;">
                                    Giao hàng
                                </div>
                            </span>
                            <span ng-switch-when="3">
                                <div class="badge bg-success text-wrap" style="width: 65%;">
                                    Online
                                </div>
                            </span>
                        </td>
                        <td ng-if="currentTab == null" ng-switch="bill.status" style="font-size: 20px;">
                            <span ng-repeat="s in status">
                                <div class="badge text-wrap bg-info" ng-show="s.status == bill.status"
                                    style="width: 65%;" ng-style="{'background-color': s.color}">
                                    {{s.title}}
                                </div>
                            </span>
               
                        </td>
                        <td>
                            <a type="button" class="edit" href="#/admin/bill/{{bill.id}}">
                                <i class="material-icons" title="Edit">&#xe8f4;</i>
                            </a>
                            <a type="button" class="edit"
                                ng-if="currentTab !== null && currentTab !== 4 && currentTab !== 5 && currentTab !== 6"
                                data-bs-toggle="modal" data-bs-target="#changeStatusModal">
                                <i class="material-icons" title="Edit">&#xe2e7;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <label for="itemsPerPage">Hiển thị:</label>
                    <select id="itemsPerPage" ng-model="pageSize" ng-change="applyFilters()"
                        class="form-select d-inline-block w-auto">
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <span>/ trang</span>
                </div>

                <nav aria-label="Page navigation example">
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-primary" ng-disabled="currentPage == 0"
                            ng-click="loadPage(currentPage - 1)">Previous</button>
                        <span class="ms-3 me-3">Page <input type="number"
                                class="form-control d-inline-block w-auto ms-2 me-2" ng-model="desiredPage" min="1"
                                max="{{totalPages}}" ng-change="goToPage()"> of {{totalPages}}</span>
                        <button class="btn btn-primary" ng-disabled="currentPage == totalPages - 1"
                            ng-click="loadPage(currentPage + 1)">Next</button>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận chuyển trạng thái</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="description" class="form-label">Ghi chú</label>
                    <input type="text" class="form-control" id="description" ng-model="billHistoryUpdate.description">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmChangeStatus()">Thay đổi</button>
                </div>
            </div>
        </div>
    </div>

  
</div> -->



<style>
    .badge-pill {
        border-radius: 50rem;
        padding: 0.5em 1em;
    }

    .badge-completed {
        background-color: #e9caff;
    }

    .badge-pending {
        background-color: #ffeeba;
    }

    .badge-cancelled {
        background-color: #f5c6cb;
    }
</style>

<div class="container-fluid">

    <div style="justify-content: space-between;" class="title d-flex align-items-center">
        <div class="d-flex align-items-center">
            <span class="material-icons fs-4 me-2">view_headline</span>
            <p class="m-0">Quản lý đơn hàng</p>
        </div>
        <!-- <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createBillModal">Thêm hóa đơn</button> -->

        <div class="row justify-content-end">
            <div class="col-auto d-flex align-items-center">
                <button class="button-submit btn btn-success" data-bs-toggle="modal" data-bs-target="#createBillModal"
                    data-bs-whatever="@mdo">
                    <span class="material-icons align-middle">add</span> Thêm hóa đơn
                </button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="search-bar">
            <!-- <input type="text" placeholder="Nhập tên hoặc mã"> -->
            <input type="text" placeholder="Tìm kiếm mã, tên khách, tên người nhận và sdt" class="form-control"
                id="searchTerm" ng-model="searchQuery">
            <!-- <input type="date" placeholder="Ngày bắt đầu"> -->
            <input type="text" placeholder="Ngày bắt đầu" id="filterStartTime" class="form-control"
                ng-model="filterStartDate">


            <!-- <input type="date" placeholder="Ngày kết thúc"> -->
            <input type="text" placeholder="Ngày kết thúc" id="filterEndTime" class="form-control"
                ng-model="filterEndDate">
        </div>
        <div class="row">
            <div class="col-md-6" style="display: flex;">
                <div class="mb-3" style="display: flex;align-items: center;">
                    <label class="radio-inline mr-3">
                        <input type="radio" ng-model="typeBill" value=""> Tất cả
                    </label>
                    <label class="radio-inline mr-3">
                        <input type="radio" ng-model="typeBill" value="1"> Tại quầy
                    </label>
                    <label class="radio-inline mr-3">
                        <input type="radio" ng-model="typeBill" value="2"> Giao hàng
                    </label>
                    <label class="radio-inline mr-3">
                        <input type="radio" ng-model="typeBill" value="3"> Trực tuyến
                    </label>
                </div>
            </div>

            <div class="col-md-6 search-bar">
                <select class="form-control" id="numberSelect" ng-model="selectedStatus" ng-change="logSelectedNumber()"
                    ng-options="number for number in numbers">
                    <option value="">Chọn trạng thái</option>
                </select>
            </div>
        </div>



        <div class="row justify-content-end" style="margin-bottom: 22px;">
            <div class="col-auto d-flex align-items-center">
                <button class="button-submit btn btn-primary" ng-click="searchOrder()">
                    <span class="material-icons align-middle">search</span> Tìm kiếm
                </button>
            </div>
            <div class="col-auto d-flex align-items-center">
                <button class="button-submit btn btn-secondary" ng-click="refreshOrders()">
                    <span class="material-icons align-middle">refresh</span> Làm mới
                </button>
            </div>
        </div>
    </div>



    <ul class="nav nav-tabs">
        <li class="nav-item" ng-repeat="tab in tabs">
            <a class="nav-link" ng-class="{'active': currentTab === tab}" ng-click="selectTab(tab)">{{tab}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="table-responsive">
            <table class="  table-container ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã</th>
                        <th>Tổng SP</th>
                        <th>Tổng số tiền</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày tạo</th>
                        <th>Loại hóa đơn</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{$index + 1}}</td>
                        <td>{{order.code}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.totalAmount | currency}}</td>
                        <td>{{order.nameCustomer}}</td>
                        <td>{{order.createdAt}}</td>
                        <td ng-switch="order.typeBill" style="font-size: 20px;">
                            <span ng-switch-when="1">
                                <div class="badge bg-info text-wrap" style="width: 65%;">
                                    Tại quầy
                                </div>
                            </span>
                            <span ng-switch-when="2">
                                <div class="badge bg-secondary text-wrap" style="width: 65%;">
                                    Giao hàng
                                </div>
                            </span>
                            <span ng-switch-when="3">
                                <div class="badge bg-success text-wrap" style="width: 65%;">
                                    Online
                                </div>
                            </span>
                            <span ng-switch-default>
                                <div class="badge bg-light text-dark text-wrap" style="width: 65%;">
                                    Khác
                                </div>
                            </span>
                        </td>
                        <td><span ng-repeat="s in status">
                                <div class="badge text-wrap bg-info" ng-show="s.status == order.status"
                                    style="width: 65%;" ng-style="{'background-color': s.color}">
                                    {{s.title}}
                                </div>
                            </span></td>
                        <td>
                            <a type="button" class="" href="#/admin/bill/{{order.id}}">
                                <i class="material-icons" title="Edit">&#xe8f4;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="d-flex align-items-center">
                <div class="ms-4 me-3 hint-text">Số lượng hiển thị:</div>
                <div>
                    <input id="size" ng-model="pageSize2" ng-change="filterOrders()" type="number" max="100" min="1"
                        class="form-control" style="width: 5rem;" required />
                </div>
            </div>


            <ul class="pagination">
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary mx-1" ng-disabled="currentPage2 == 0"
                        ng-click="setCurrentPageOrder(0)">
                        <span class="material-icons align-middle">first_page</span>
                    </button>
                    <button class="btn btn-primary mx-1" ng-disabled="currentPage2 == 0"
                        ng-click="setCurrentPageOrder(currentPage2 - 1)">
                        <span class="material-icons align-middle">chevron_left</span>
                    </button>

                    <div class="d-flex align-items-center mx-1">
                        <input type="number" class="form-control-custom no-spinners mx-2 fs-4 text-center"
                            style="width: 40px;" ng-model="desiredPage2" min="1" max="{{totalPages2}}"
                            ng-change="goToPageOrder()">
                        <span class="fs-4 me-2" style="font-weight: bold;"> / {{totalPages2}}</span>
                    </div>

                    <button class="btn btn-primary mx-1" ng-disabled="currentPage2 == totalPages2 - 1"
                        ng-click="setCurrentPageOrder(currentPage2 + 1)">
                        <span class="material-icons align-middle">chevron_right</span>
                    </button>
                    <button class="btn btn-primary mx-1" ng-disabled="currentPage2 == totalPages2 - 1"
                        ng-click="setCurrentPageOrder(totalPages2 - 1)">
                        <span class="material-icons align-middle">last_page</span>
                    </button>
                </div>
            </ul>
        </div>
    </div>


    <!-- Modal createBill-->
    <div class="modal fade" id="createBillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo hóa đơn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form ng-submit="addBill()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="code" class="form-label">Code</label>
                                    <input type="text" class="form-control" id="code" ng-model="bill.code" required>
                                </div>
                                <div class="mb-3">
                                    <label for="totalAmount" class="form-label">Total Amount</label>
                                    <input type="number" class="form-control" id="totalAmount"
                                        ng-model="bill.totalAmount" required>
                                </div>
                                <div class="mb-3">
                                    <label for="totalAmountAfterDiscount" class="form-label">Total Amount After
                                        Discount</label>
                                    <input type="number" class="form-control" id="totalAmountAfterDiscount"
                                        ng-model="bill.totalAmountAfterDiscount">
                                </div>
                                <div class="mb-3">
                                    <label for="voucher" class="form-label">Voucher</label>
                                    <select class="form-select" ng-model="bill.voucher">
                                        <option selected value="">Chọn voucher</option>
                                        <option ng-value="1">voucher</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="paymentMethod" class="form-label">Payment method</label>
                                    <select class="form-select" ng-model="bill.paymentMethod">
                                        <option selected value="">Chọn Payment method</option>
                                        <option ng-value="1">Payment method</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="typeBill" class="form-label">Khách hàng</label>
                                    <select class="form-select" ng-model="bill.customer">
                                        <option selected value="">Chọn khách hàng</option>
                                        <option ng-value="1">Khách hàng</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="reciverName" class="form-label">Người nhận</label>
                                    <input type="text" class="form-control" id="reciverName"
                                        ng-model="bill.reciverName">
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" ng-model="bill.address">
                                </div>
                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneNumber"
                                        ng-model="bill.phoneNumber">
                                </div>
                                <div class="mb-3">
                                    <label for="typeBill" class="form-label">Type Bill</label>
                                    <select class="form-select" ng-model="bill.typeBill">
                                        <option selected value="">Chọn loại giảm giá:</option>
                                        <option ng-value="1">Tại quầy</option>
                                        <option ng-value="2">Giao hàng</option>
                                        <option ng-value="3">Online</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="note" class="form-label">Note</label>
                                    <input type="text" class="form-control" id="note" ng-model="bill.note">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá bán</th>
                                        <th scope="col">Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Áo Đỏ XL</td>
                                        <td>4</td>
                                        <td>100,000</td>
                                        <th>400,000</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>