<div class="container mt-5">
    <h1 class="mb-4">Chi tiết hóa đơn</h1>

    <div class="row shadow mb-5 py-3 bg-body border rounded">
        <div class="row">
            <div class="d-flex justify-content-between mb-2">
                <h5 class="ms-3">Trạng thái đơn hàng</h5>
                <!-- <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#">Thêm sản phẩm</button> -->
            </div>
            <hr class="mx-4" style="width: 98%;">
            <div class="progress-container">
                <div class="step" ng-class="{'active': status >= 1, 'inactive': status < 1}">
                    <div class="step-circle">
                        <span class="material-icons">schedule</span>
                    </div>
                    <div class="step-title">Chờ xác nhận</div>
                    <div class="step-desc">16:37:35 23-12-2023</div>
                </div>
                <div class="arrow" ng-class="{'active': status >= 2, 'inactive': status < 2}">&gt;</div>
                <div class="step" ng-class="{'active': status >= 2, 'inactive': status < 2}">
                    <div class="step-circle">
                        <span class="material-icons">check_circle</span>
                    </div>
                    <div class="step-title">Đã xác nhận</div>
                    <div class="step-desc">16:39:23 23-12-2023</div>
                </div>
                <div class="arrow" ng-class="{'active': status >= 3, 'inactive': status < 3}">&gt;</div>
                <div class="step" ng-class="{'active': status >= 3, 'inactive': status < 3}">
                    <div class="step-circle">
                        <span class="material-icons">local_shipping</span>
                    </div>
                    <div class="step-title">Chờ vận chuyển</div>
                    <div class="step-desc">16:39:47 23-12-2023</div>
                </div>
                <div class="arrow" ng-class="{'active': status >= 4, 'inactive': status < 4}">&gt;</div>
                <div class="step" ng-class="{'active': status >= 4, 'inactive': status < 4}">
                    <div class="step-circle">
                        <span class="material-icons">directions_car</span>
                    </div>
                    <div class="step-title">Đang giao</div>
                    <div class="step-desc">--:--:-- --/--/----</div>
                </div>
                <div class="arrow" ng-class="{'active': status >= 5, 'inactive': status < 5}">&gt;</div>
                <div class="step" ng-class="{'active': status >= 5, 'inactive': status < 5}">
                    <div class="step-circle">
                        <span class="material-icons">home</span>
                    </div>
                    <div class="step-title">Đã giao</div>
                    <div class="step-desc">--:--:-- --/--/----</div>
                </div>
                <div class="arrow" ng-class="{'cancelled': status == 6, 'inactive': status < 6}">&gt;</div>
                <div class="step" ng-class="{'cancelled': status == 6, 'inactive': status < 6}">
                    <div class="step-circle">
                        <span class="material-icons">cancel</span>
                    </div>
                    <div class="step-title">Đã hủy</div>
                    <div class="step-desc">--:--:-- --/--/----</div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="ms-3">
                    <button class="btn btn-outline-primary me-3" ng-if="status == 1" ng-click="showModal(2)">Xác
                        nhận</button>
                    <button class="btn btn-outline-primary me-3" ng-if="status == 2" ng-click="showModal(3)">Chờ vận
                        chuyển</button>
                    <button class="btn btn-outline-primary me-3" ng-if="status == 3" ng-click="showModal(4)">Vận
                        chuyển</button>
                    <button class="btn btn-outline-primary me-3" ng-if="status == 4" ng-click="showModal(5)">Thành
                        công</button>
                    <button class="btn btn-outline-danger" ng-if="status < 5" ng-click="showModal(6)">Hủy</button>
                </div>
                <div>
                    <button class="btn btn-warning me-3" data-bs-toggle="modal" data-bs-target="#billHistoryModal">Lịch
                        sử</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal BillHistory-->
    <div class="modal fade" id="billHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lịch sử trạng thái</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thời gian</th>
                                <th scope="col">Người xác nhận</th>
                                <th scope="col">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cho xac nhan</td>
                                <td>02/09/2003 12:30</td>
                                <td>Phan Văn Nguyên</td>
                                <th>Xác nhận ok bro</th>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Da xac nhan</td>
                                <td>02/09/2003 12:30</td>
                                <td>Phan Văn Nguyên</td>
                                <th>Xác nhận ok bro</th>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cho giao hang</td>
                                <td>02/09/2003 12:30</td>
                                <td>Phan Văn Nguyên</td>
                                <th>Xác nhận ok bro</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bảng thông tin giao dịch -->
    <div class="row mt-4 rounded border p-3 shadow mb-5 bg-body">
        <div class="col">
            <h5>Thông tin giao dịch</h5>
            <hr>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-2">VCC123</td>
                        <td>Nguyễn Văn A</td>
                        <td>100,000 đ</td>
                        <td class="col-3 fs-6">Đã thanh toán</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row card mt-4 border rounded p-4 shadow mb-5 bg-body">
        <div class="d-flex justify-content-between mb-3">
            <h5>Thông tin đơn hàng</h5>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBillInfoModal">Cập nhật</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <div class="info-item">
                    <dt>Mã Hóa Đơn:</dt>
                    <dd><span class="fw-bold border-bottom">HD02092003</span></dd>
                </div>
                <div class="info-item">
                    <dt>Ngày đặt hàng:</dt>
                    <dd><span class="fw-bold border-bottom">02-09-2003 12:30</span></dd>
                </div>
                <div class="info-item">
                    <dt>Loại:</dt>
                    <dd><span class="fw-bold border-bottom">Online</span></dd>
                </div>
                <div class="info-item">
                    <dt>Trạng thái:</dt>
                    <dd>
                        <div class="badge bg-primary text-wrap fs-6">
                            Chờ giao hàng
                        </div>
                    </dd>
                </div>
            </div>
            <div class="col-md-7">
                <div class="info-item">
                    <dt>Tên Khách Hàng:</dt>
                    <dd><span class="fw-bold border-bottom">Nguyễn Văn A</span></dd>
                </div>
                <div class="info-item">
                    <dt>Số điện thoại:</dt>
                    <dd><span class="fw-bold border-bottom">0123456789</span></dd>
                </div>
                <div class="info-item row">
                    <div class="col-3">Địa chỉ:</div>
                    <div class="col-9"><span class="fw-bold border-bottom">Cổng chào thôn Tân Văn, Thôn Tân Văn, Xã
                            Thạch
                            Văn, Huyện Thạch Hà, Tỉnh Hà Tĩnh</span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chỉnh sửa thông tin đơn hàng -->
    <div class="modal fade" id="editBillInfoModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form chỉnh sửa thông tin đơn hàng -->
                    <form>
                        <div class="mb-3">
                            <label for="orderCode" class="form-label">Mã đơn hàng</label>
                            <input type="text" class="form-control" id="orderCode" value="#123456" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Khách hàng</label>
                            <input type="text" class="form-control" id="customerName" value="Nguyễn Văn A">
                        </div>
                        <div class="mb-3">
                            <label for="orderDate" class="form-label">Ngày đặt hàng</label>
                            <input type="text" class="form-control" id="orderDate" value="01/06/2024">
                        </div>
                        <div class="mb-3">
                            <label for="totalAmount" class="form-label">Tổng tiền</label>
                            <input type="text" class="form-control" id="totalAmount" value="500,000 VND">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bảng sản phẩm trong giỏ hàng -->
    <div class="row mt-4 rounded border p-3 shadow mb-5 bg-body">
        <div class="col">
            <div class="d-flex justify-content-between mb-3">
                <h5>Sản phẩm trong đơn hàng</h5>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBillDetail">Thêm sản phẩm</button>
            </div>
            <hr>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="col-5">Sản phẩm A</td>
                        <td class="col-1">
                            <input type="number" class="form-control" ng-model="quantityProduct" min="1" max="1000">
                        </td>
                        <td class="col-2">250,000 đ</td>
                        <td class="col-2 fs-6">250,000 đ</td>
                        <td><a class="btn" ng-click=""><i class="material-icons">&#xE15C;</i></a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <th scope="col" class="fw-bold">20</th>
                        <th colspan="1"></th>
                        <th scope="col" class="fw-bold">250,000 đ</th>
                        <th scope="col"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal Thêm sản phẩm vào hóa đơn -->
<div class="modal fade" id="addBillDetail" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu thay đổi</button>
            </div> -->
        </div>
    </div>
</div>

<!-- Bootstrap JS và Popper.js (được yêu cầu bởi Bootstrap) -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> -->