.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ccc; */
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(255, 255, 255); */
}

h5 {
    font-weight: bold;
    color: #555;
}

.step {
    position: relative;
    width: 170px;
    /* height: 100px; */
    background-color: #ccc;
    border-radius: 8px;
    margin: 0 10px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.step.active {
    background-color: #1e90ff;
    color: white;
}

.step.cancelled {
    background-color: red;
    color: white;
}

.step.inactive {
    background-color: #eee;
}

.step .step-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    color: black;
    margin: 0 auto 10px;
    font-size: 24px;
    font-weight: bold;
}

.step .material-icons {
    font-size: 50px;
    color: #1e90ff;
}

.step-title {
    font-size: 18px;
    font-weight: bold;
}

.step-desc {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.arrow.inactive {
    font-size: 36px;
    margin: 0 10px;
    color: #c0c2c2;
}

.arrow.active {
    font-size: 36px;
    margin: 0 10px;
    color: #1e90ff;
}

/* .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} */

/* .controls button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
} */

/* .controls button:hover {
    background-color: #104e8b;
} */


dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    flex-basis: 150px;
    margin-right: 10px;
    align-self: flex-start;
    font-weight: normal;
}

dd {
    flex-grow: 1;
    margin-left: 0;
}

.info-item {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
}

.info-item dd {
    flex-grow: 1;
    margin-left: 0;
}



/* Optional custom styles */
.slider {
    margin-top: 20px;
}

.noUi-connect {
    background: linear-gradient(to right, #007bff, #007bff);
    /* Màu sắc của dải kết nối */
}

.noUi-handle {
    cursor: pointer;
    /* Con trỏ chuột thành hình bàn tay khi di chuột vào cần kéo */
}

.noUi-tooltip {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    /* Màu nền của tooltip */
    color: #fff;
    /* Màu chữ của tooltip */
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #333;
    /* Viền của tooltip */
    text-align: center;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.label {
    flex: 1;
    text-align: center;
}

/* .noUi-marker.noUi-marker-horizontal.noUi-marker-sub{
    display: none;
} */
.noUi-value.noUi-value-horizontal.noUi-value-sub {
    display: none;
}
