<link rel="stylesheet" href="/src/admin/pages/bill-nguyen/testbill.css">
<div class="row border rounded shadow mb-3 pt-3 bg-body">
    <div class="row" ng-init="getBillHistoryByBillId(billId)">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="ms-3">Trạng thái đơn hàng</h5>
            <div>
                <button class="btn btn-info me-3" ng-if="[2, 3].includes(status)" ng-click="exportBill()">In hóa
                    đơn</button>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#billHistoryModal">Lịch
                    sử</button>
            </div>
        </div>
        <hr class="mx-4" style="width: 98%;">
        <div class="progress-container-wrapper position-relative ms-2">
            <button class="scroll-button left" ng-if="scrollbarVisible" ng-click="scrollLeft()">&#9664;</button>
            <div class="progress-container overflow-auto col-10" style="margin-left: 50px;" id="ccc">
                <div class="d-flex">
                    <div ng-repeat="step in steps" class="d-flex align-items-center">
                        <div ng-if="step.time != null" class="step" ng-class="{'active': step.status == status}">
                            <div class="step-circle">
                                <span class="material-icons statuss-{{step.status}}">{{ step.icon }}</span>
                            </div>
                            <div class="step-title">{{ step.title }}</div>
                            <div class="step-desc" style="margin-bottom: -7px;">{{ step.time | date:'HH : mm : ss' }}</div>
                            <div class="step-desc">{{ step.time | date:'dd-MM-yyyy' }}</div>
                        </div>
                        <div ng-if="!$last && steps[$index + 1].time != null" class="arrow active">&gt;</div>
                    </div>
                </div>
            </div>
            <button class="scroll-button right" ng-if="scrollbarVisible" ng-click="scrollRight()">&#9654;</button>
        </div>
    </div>

    <div class="row mt-2 mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="ms-3"></div>
            <div>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(2)"
                    ng-click="showModalStatus(2)">Chờ vận chuyển</button>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(3)"
                    ng-click="showModalStatus(3)">Đang giao</button>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(4)"
                    ng-click="showModalStatus(4)">Thành công</button>
                <button class="btn btn-outline-danger me-3" ng-if="deliveryFlow[status].includes(5)"
                    ng-click="showModalStatus(5)">Hủy</button>
                <!-- <button class="btn btn-outline-danger me-3" ng-if="deliveryFlow[status].includes(6)"
                    ng-click="showModalStatus(6)">Khách hủy</button> -->
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(7)"
                    ng-click="showModalStatus(7)">Thất bại</button>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(8)"
                    ng-click="showModalStatus(8)">Thất bại (Giao lại)</button>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(9)"
                    ng-click="showModalStatus(9)">Chờ giao lại</button>
                <button class="btn btn-outline-primary me-3" ng-if="deliveryFlow[status].includes(10)"
                    ng-click="showModalStatus(10)">Đang giao lại</button>
                <button class="btn btn-outline-primary" ng-if="deliveryFlow[status].includes(11)"
                    ng-click="showModalStatus(11)">Hoàn hàng</button>
            </div>
        </div>
        <div>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(2)">Chờ vận chuyển</button>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(3)">Đang giao</button>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(4)">Thành công</button>
            <button class="btn btn-outline-danger me-3"
                ng-click="showModalStatus(5)">Hủy</button>
            <!-- <button class="btn btn-outline-danger me-3" ng-if="deliveryFlow[status].includes(6)"
                ng-click="showModalStatus(6)">Khách hủy</button> -->
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(7)">Thất bại</button>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(8)">Thất bại (lại)</button>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(9)">Chờ giao lại</button>
            <button class="btn btn-outline-primary me-3"
                ng-click="showModalStatus(10)">Đang giao lại</button>
            <button class="btn btn-outline-primary"
                ng-click="showModalStatus(11)">Hoàn hàng</button>
        </div>
    </div>

</div>

<!-- Modal để nhập lý do chuyển trạng thái -->
<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="changeStatusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeStatusModalLabel">Chuyển trạng thái</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="confirmChangeStatus()">
                    <div class="mb-3">
                        <label for="description" class="form-label">Lý do</label>
                        <textarea class="form-control" id="description" ng-model="billHistoryUpdate.description"
                            rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="suggestions" class="form-label">Gợi ý lý do</label>
                        <div>
                            <button type="button" class="btn btn-outline-secondary me-2 mb-2" 
                                    ng-repeat="reason in reasonSuggestions" ng-click="appendReason(reason)">
                                {{ reason }}
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal BillHistory-->
<div class="modal fade" id="billHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lịch sử trạng thái</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Người xác nhận</th>
                            <th scope="col">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bh in listBillHistory">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{bh.status}}</td>
                            <td>{{bh.createdAt | date : "dd/MM/yyyy : HH:mm"}}</td>
                            <td>{{bh.createdBy}}</td>
                            <th>{{bh.description}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>