<!-- Main content -->
<div class="container-fluid px-4" ng-init="clearSelectedProducts()">
    <div class="row">
        <!-- Form nhập thông tin đợt giảm giá -->
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    Tạo Đợt Giảm Giá Mới
                </div>
                <div class="card-body">
                    <form name="saleForm" ng-submit="saveSale()">
                        <div class="mb-3">
                            <label for="saleName" class="form-label">Tên đợt giảm giá</label>
                            <input type="text" class="form-control" id="saleName" ng-model="saleDetail.name" required>
                        </div>
                        <div class="mb-3">
                            <label for="saleCode" class="form-label">Mã giảm giá</label>
                            <input type="text" class="form-control" id="saleCode" ng-model="saleDetail.code" required>
                        </div>
                        <div class="mb-3">
                            <label for="saleDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="saleDescription" rows="3" ng-model="saleDetail.describe" required></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="startTime" class="form-label">Thời gian bắt đầu</label>
                                <input type="datetime-local" class="form-control" id="startTime" ng-model="saleDetail.startDate" required>
                            </div>
                            <div class="col-md-6">
                                <label for="endTime" class="form-label">Thời gian kết thúc</label>
                                <input type="datetime-local" class="form-control" id="endTime" ng-model="saleDetail.endDate" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="discountType" class="form-label">Loại giảm giá</label>
                                <select class="form-select" id="discountType" ng-model="saleDetail.discountType" required>
                                    <option value="1" ng-selected="saleDetail.discountType == 1">Giảm giá cố định</option>
                                    <option value="2" ng-selected="saleDetail.discountType == 2">Giảm giá phần trăm</option>
                                    <option value="3" ng-selected="saleDetail.discountType == 3">Mua 1 tặng 1</option>
                                    <option value="4" ng-selected="saleDetail.discountType == 4">Combo sản phẩm</option>
                                </select>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="discountValue" class="form-label">Mức giảm giá</label>
                                <input type="number" class="form-control" id="discountValue" ng-model="saleDetail.value" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="maximumDiscountAmount" class="form-label">Số tiền giảm giá tối đa</label>
                                <input type="number" class="form-control" id="maximumDiscountAmount" ng-model="saleDetail.maximumDiscountAmount" required>
                            </div>
                            <div class="col-md-6">
                                <label for="numberOfUses" class="form-label">Số lần sử dụng</label>
                                <input type="number" class="form-control" id="numberOfUses" ng-model="saleDetail.numberOfUses" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="saleImage" class="form-label">Hình ảnh/Banner giảm giá</label>
                            <input type="file" class="form-control" id="saleImage" ng-model="saleDetail.image" required>
                        </div>

                        <div class="col-md-6">
                            <label for="saleStatus" class="form-label">Trạng thái</label>
                            <select class="form-control" id="saleStatus" ng-model="saleDetail.status" required>
                                <option ng-value="2" ng-selected="saleDetail.status === 2">Sắp bắt đầu</option>
                                <option ng-value="1" ng-selected="saleDetail.status === 1">Đang hoạt động</option>
                                <option ng-value="3" ng-selected="saleDetail.status === 3">Hết hạn</option>
                                <option ng-value="4" ng-selected="saleDetail.status === 4">Dừng hoạt động</option>
                            </select>
                        </div>
                        
            
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8 mb-4">
            <h5>Sản phẩm chưa áp dụng</h5>

            <div class="filters d-flex justify-content-between flex-wrap align-items-center">
                <div class="mb-3">
                    <input class="form-control" id="productSearch" type="text" placeholder="Tìm kiếm sản phẩm..." ng-model="searchTerm" ng-change="filterProducts()">
                </div>
                <div class="mb-3">
                    <select class="form-select" id="neckStyleFilter" ng-model="selectedCollar" ng-change="filterProducts()" ng-options="collar.id as collar.name for collar in collars">
                        <option value="">Chọn cổ áo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="sleeveStyleFilter" ng-model="selectedWrist" ng-change="filterProducts()" ng-options="wrist.id as wrist.name for wrist in wrists">
                        <option value="">Chọn cổ tay</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="sizeFilter" ng-model="selectedSize" ng-change="filterProducts()" ng-options="size.id as size.name for size in sizes">
                        <option value="">Chọn kích cỡ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="colorFilter" ng-model="selectedColor" ng-change="filterProducts()" ng-options="color.id as color.name for color in colors">
                        <option value="">Chọn màu sắc</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="materialFilter" ng-model="selectedMaterial" ng-change="filterProducts()" ng-options="material.id as material.name for material in materials">
                        <option value="">Chọn chất liệu</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="refreshDataProduct()">Làm mới</button>
                </div>
            </div>
            
            <div class="content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="notAppliedProductsTab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Ảnh</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody id="mergedProducts">
                                <tr ng-repeat="product in products">
                                    <td><input type="checkbox" ng-model="product.selected" ng-change="toggleProductSelection(product)"></td>

                                    <td>{{ product.selected }}</td>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.name }}</td>
                                    <td></td>
                                    <td>{{ product.price | currency:'VND' }}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" ng-click="addSelectedProductSales()">Thêm sản phẩm đã chọn</button>
                        <button type="button" class="btn btn-success" ng-click="addAllProductSales()">Thêm tất cả sản phẩm</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12" ng-if="totalPages > 1">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage === 0}">
                                <a href="" ng-click="setCurrentPageRateProduct(0)">
                                    First
                                </a>
                            </li>
                            <li ng-class="{disabled: currentPage === 0}">
                                <a href="" ng-click="setCurrentPageRateProduct(currentPage - 1)">
                                    Previous
                                </a>
                            </li>
                
                            {{ currentPage + 1 }}
                
                            <li ng-class="{disabled: currentPage === totalPages - 1}">
                                <a href="" ng-click="setCurrentPageRateProduct(currentPage + 1)">
                                    Next
                                </a>
                            </li>
                            <li ng-class="{disabled: currentPage === totalPages - 1}">
                                <a href="" ng-click="setCurrentPageRateProduct(totalPages - 1)">
                                    Last
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
    
    </div>
    <div class="filters d-flex justify-content-between flex-wrap align-items-center">
        <div class="mb-3">
            <input class="form-control" id="productSearch" type="text" placeholder="Tìm kiếm sản phẩm..." ng-model="searchTerm2" ng-change="filterProductSale()">
        </div>
        <div class="mb-3">
            <select class="form-select" id="neckStyleFilter" ng-model="selectedCollar2" ng-change="filterProductSale()" ng-options="collar.id as collar.name for collar in collars">
                <option value="">Chọn cổ áo</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="sleeveStyleFilter" ng-model="selectedWrist2" ng-change="filterProductSale()" ng-options="wrist.id as wrist.name for wrist in wrists">
                <option value="">Chọn cổ tay</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="sizeFilter" ng-model="selectedSize2" ng-change="filterProductSale()" ng-options="size.id as size.name for size in sizes">
                <option value="">Chọn kích cỡ</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="colorFilter" ng-model="selectedColor2" ng-change="filterProductSale()" ng-options="color.id as color.name for color in colors">
                <option value="">Chọn màu sắc</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="materialFilter" ng-model="selectedMaterial2" ng-change="filterProductSale()" ng-options="material.id as material.name for material in materials">
                <option value="">Chọn chất liệu</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="refreshDataProductSale()">Làm mới</button>
        </div>
    </div>
    
          <!-- Row for "Sản phẩm đã áp dụng" -->
          <div class="row">
            <div class="col-12">
                <div class="tab-pane fade show active" id="appliedProductsTab">
                    <h5>Sản phẩm đã áp dụng</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Giá khuyến mãi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="productSale in productSales">
                                <td><input type="checkbox" ng-model="productSale.selected"></td>
                                <td>{{ productSale.product.code }}</td>
                                <td>{{ productSale.product.name }}</td>
                                <td></td>
                                <td>{{ productSale.product.price | currency:'VND' }}</td>
                                <td>{{ productSale.promotionalPrice | currency:'VND'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger" ng-click="deleteSelected()">Xóa các mục đã chọn</button>
                    <button class="btn btn-danger" ng-click="deleteAll()">Xóa tất cả</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12" ng-if="totalPages2 > 1">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage2 === 0}">
                            <a href="" ng-click="setCurrentPageProductSales2(0)">
                                First
                            </a>
                        </li>
                        <li ng-class="{disabled: currentPage2 === 0}">
                            <a href="" ng-click="setCurrentPageProductSales2(currentPage2 - 1)">
                                Previous
                            </a>
                        </li>
            
                        {{ currentPage2 + 1 }}
            
                        <li ng-class="{disabled: currentPage2 === totalPages2 - 1}">
                            <a href="" ng-click="setCurrentPageProductSales2(currentPage2 + 1)">
                                Next
                            </a>
                        </li>
                        <li ng-class="{disabled: currentPage2 === totalPages2 - 1}">
                            <a href="" ng-click="setCurrentPageProductSales2(totalPages2 - 1)">
                                Last
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

</div>
