<!-- Main content -->
<div class="container-fluid px-4" ng-init="clearSelectedProducts(); clearSelectedProductSales();getSaleSummary(); refreshDataProductSale(); refreshDataProduct()">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
            <h2 class="text-center mb-4">BÁO CÁO HIỆU QUẢ CHƯƠNG TRÌNH GIẢM GIÁ</h2>
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">Số lần sử dụng giảm giá: <strong>{{ summary.totalProductsSold }}</strong></p>
                    <p class="card-text">Doanh số tương ứng: <strong>{{ formatCurrency(summary.totalRevenue) }} VNĐ</strong></p>
                    <p class="card-text">Lợi nhuận sau giảm giá: <strong>{{ formatCurrency(summary.totalProfit) }} VNĐ</strong></p>
                    <p class="card-text">Tỷ lệ lợi nhuận: <strong>{{ summary.profitMargin.toFixed(2) }}%</strong></p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- Form nhập thông tin đợt giảm giá -->
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    Tạo Đợt Giảm Giá Mới
                </div>
                <div class="card-body">
                    <form name="saleFormUpdate" ng-submit="updateSale()" novalidate>
                        <div class="form-group" ng-class="{'has-error': (saleFormUpdate.saleName.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleName.$invalid}">
                            <label for="saleName" class="form-label">Tên đợt giảm giá</label>
                            <input type="text" class="form-control" id="saleName" name="saleName" ng-model="saleDetail.name" required>
                            <div class="text-danger" ng-show="(saleFormUpdate.saleName.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleName.$invalid">
                                Tên đợt giảm giá là bắt buộc.
                            </div>
                        </div>
                        
                        <div class="mb-3" ng-class="{'has-error': (saleFormUpdate.saleCode.$touched || saleFormUpdate.$submitted) && (saleFormUpdate.saleCode.$error.required || checkSaleCodeUpdate(saleDetail.code))}">
                            <label for="saleCode" class="form-label">Mã giảm giá</label>
                            <input type="text" class="form-control" id="saleCode" name="saleCode" ng-model="saleDetail.code" required>
                            <div class="text-danger" ng-show="(saleFormUpdate.saleCode.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleCode.$error.required">
                                Mã giảm giá là bắt buộc.
                            </div>
                            <div class="text-danger" ng-show="(saleFormUpdate.saleCode.$touched || saleFormUpdate.$submitted) && checkSaleCodeUpdate(saleDetail.code)">
                                Mã giảm giá đã tồn tại. Vui lòng chọn mã khác.
                            </div>
                        </div>
                        
                        <div class="mb-3" ng-class="{'has-error': (saleFormUpdate.saleDescription.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleDescription.$invalid}">
                            <label for="saleDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="saleDescription" name="saleDescription" rows="3" ng-model="saleDetail.describe" required></textarea>
                            <div class="text-danger" ng-show="(saleFormUpdate.saleDescription.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleDescription.$invalid">
                                Mô tả là bắt buộc.
                            </div>
                        </div>
                        <div class="mb-3" ng-class="{'has-error': (saleFormUpdate.startTime.$touched || saleFormUpdate.$submitted) && saleFormUpdate.startTime.$invalid}">
                            <label for="startTime" class="form-label">Thời gian bắt đầu</label>
                            <input type="datetime-local" class="form-control" id="startTime" name="startTime" ng-model="saleDetail.startDate" required>
                            <div class="text-danger" ng-show="(saleFormUpdate.startTime.$touched || saleFormUpdate.$submitted) && saleFormUpdate.startTime.$invalid">
                                Thời gian bắt đầu là bắt buộc.
                            </div>
                        </div>
                        <div class="mb-3" ng-class="{'has-error': (saleFormUpdate.endTime.$touched || saleFormUpdate.$submitted) && saleFormUpdate.endTime.$invalid}">
                            <label for="endTime" class="form-label">Thời gian kết thúc</label>
                            <input type="datetime-local" class="form-control" id="endTime" name="endTime" ng-model="saleDetail.endDate" required>
                            <div class="text-danger" ng-show="(saleFormUpdate.endTime.$touched || saleFormUpdate.$submitted) && saleFormUpdate.endTime.$invalid">
                                Thời gian kết thúc là bắt buộc.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': (saleFormUpdate.discountType.$touched || saleFormUpdate.$submitted) && saleFormUpdate.discountType.$invalid}">
                                    <label for="discountType" class="form-label">Loại giảm giá</label>
                                    <select class="form-control" id="discountType" name="discountType" ng-model="saleDetail.discountType" required>
                                        <option value="1" ng-selected="saleDetail.discountType == 1">Giảm giá cố định</option>
                                        <option value="2" ng-selected="saleDetail.discountType == 2">Giảm giá phần trăm</option>
                                        <option value="3" ng-selected="saleDetail.discountType == 3">Mua 1 tặng 1</option>
                                        <option value="4" ng-selected="saleDetail.discountType == 4">Combo sản phẩm</option>
                                    </select>
                                    <div class="text-danger" ng-show="(saleFormUpdate.discountType.$touched || saleFormUpdate.$submitted) && saleFormUpdate.discountType.$invalid">
                                        Loại giảm giá là bắt buộc.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error': (saleFormUpdate.discountValue.$touched || saleFormUpdate.$submitted) && saleFormUpdate.discountValue.$invalid}">
                                    <label for="discountValue" class="form-label">Mức giảm giá</label>
                                    <input type="number" class="form-control" id="discountValue" name="discountValue" ng-model="saleDetail.value" required>
                                    <div class="text-danger" ng-show="(saleFormUpdate.discountValue.$touched || saleFormUpdate.$submitted) && saleFormUpdate.discountValue.$invalid">
                                        Mức giảm giá là bắt buộc.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': (saleFormUpdate.maximumDiscountAmount.$touched || saleFormUpdate.$submitted) && saleFormUpdate.maximumDiscountAmount.$invalid}">
                                <label for="maximumDiscountAmount" class="form-label">Số tiền giảm giá tối đa</label>
                                <input type="number" class="form-control" id="maximumDiscountAmount" name="maximumDiscountAmount" ng-model="saleDetail.maximumDiscountAmount" required>
                                <div class="text-danger" ng-show="(saleFormUpdate.maximumDiscountAmount.$touched || saleFormUpdate.$submitted) && saleFormUpdate.maximumDiscountAmount.$invalid">
                                    Số tiền giảm giá tối đa là bắt buộc.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': (saleFormUpdate.numberOfUses.$touched || saleFormUpdate.$submitted) && saleFormUpdate.numberOfUses.$invalid}">
                                <label for="numberOfUses" class="form-label">Số lần sử dụng</label>
                                <input type="number" class="form-control" id="numberOfUses" name="numberOfUses" ng-model="saleDetail.numberOfUses" required>
                                <div class="text-danger" ng-show="(saleFormUpdate.numberOfUses.$touched || saleFormUpdate.$submitted) && saleFormUpdate.numberOfUses.$invalid">
                                    Số lần sử dụng là bắt buộc.
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- <div class="form-group" ng-class="{'has-error': (saleFormUpdate.saleImage.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleImage.$invalid}">
                            <label for="saleImage" class="form-label">Hình ảnh/Banner giảm giá</label>
                            <input type="file" class="form-control" id="saleImage" name="saleImage" ng-model="saleDetail.image" required>
                            <div class="text-danger" ng-show="(saleFormUpdate.saleImage.$touched || saleFormUpdate.$submitted) && saleFormUpdate.saleImage.$invalid">
                                Hình ảnh/Banner giảm giá là bắt buộc.
                            </div>
                        </div> -->
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status" class="form-label">Trạng thái</label>
                                <select class="form-control" id="status" name="status" ng-model="saleDetail.status" ng-change="updateStatus()" ng-options="option.value as option.label for option in statusOptions"></select>
                                <!-- Hiển thị text "Hết hạn" khi trạng thái là 3 -->
                                <!-- <p ng-if="saleDetail.status === 3">Hết hạn</p> -->
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        <!-- Nút "Lưu" chỉ hiển thị khi trạng thái khác 3 -->
                        <button type="submit" class="btn btn-primary" ng-if="getSaleStatusFromLocal() !== '3'">Lưu</button>
                        

                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8 mb-4">
            <h5>Sản phẩm chưa áp dụng</h5>

            <div class="filters d-flex justify-content-between flex-wrap align-items-center">
                <div class="mb-3">
                    <input class="form-control" id="productSearch" type="text" placeholder="Tìm kiếm sản phẩm..." ng-model="searchTerm" ng-change="filterProducts()">
                </div>
                <div class="mb-3">
                    <select class="form-select" id="neckStyleFilter" ng-model="selectedCollar" ng-change="filterProducts()" ng-options="collar.id as collar.name for collar in collars">
                        <option value="">Chọn cổ áo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="sleeveStyleFilter" ng-model="selectedWrist" ng-change="filterProducts()" ng-options="wrist.id as wrist.name for wrist in wrists">
                        <option value="">Chọn cổ tay</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="sizeFilter" ng-model="selectedSize" ng-change="filterProducts()" ng-options="size.id as size.name for size in sizes">
                        <option value="">Chọn kích cỡ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="colorFilter" ng-model="selectedColor" ng-change="filterProducts()" ng-options="color.id as color.name for color in colors">
                        <option value="">Chọn màu sắc</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" id="materialFilter" ng-model="selectedMaterial" ng-change="filterProducts()" ng-options="material.id as material.name for material in materials">
                        <option value="">Chọn chất liệu</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="refreshDataProduct()">Làm mới</button>
                </div>
            </div>
            
            <div class="content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="notAppliedProductsTab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Ảnh</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody id="mergedProducts">
                                <tr ng-repeat="product in products">
                                    <td><input type="checkbox" ng-model="product.selected" ng-change="toggleProductSelection(product)"></td>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>Ảnh</td>
                                    <td>{{formatCurrency(product.price)  }} VNĐ</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" ng-click="addSelectedProductSales()" ng-if="getSaleStatusFromLocal() !== '3'">Thêm sản phẩm đã chọn</button>
                        <button type="button" class="btn btn-success" ng-click="addAllProductSales()" ng-if="getSaleStatusFromLocal() !== '3'">Thêm tất cả sản phẩm</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12" ng-if="totalPages > 1">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage === 0}">
                                <a href="" ng-click="setCurrentPageRateProduct(0)">
                                    First
                                </a>
                            </li>
                            <li ng-class="{disabled: currentPage === 0}">
                                <a href="" ng-click="setCurrentPageRateProduct(currentPage - 1)">
                                    Previous
                                </a>
                            </li>
                
                            {{ currentPage + 1 }}
                
                            <li ng-class="{disabled: currentPage === totalPages - 1}">
                                <a href="" ng-click="setCurrentPageRateProduct(currentPage + 1)">
                                    Next
                                </a>
                            </li>
                            <li ng-class="{disabled: currentPage === totalPages - 1}">
                                <a href="" ng-click="setCurrentPageRateProduct(totalPages - 1)">
                                    Last
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
    
    </div>
    <div class="filters d-flex justify-content-between flex-wrap align-items-center">
        <div class="mb-3">
            <input class="form-control" id="productSearch" type="text" placeholder="Tìm kiếm sản phẩm..." ng-model="searchTerm2" ng-change="filterProductSale()">
        </div>
        <div class="mb-3">
            <select class="form-select" id="neckStyleFilter" ng-model="selectedCollar2" ng-change="filterProductSale()" ng-options="collar.id as collar.name for collar in collars">
                <option value="">Chọn cổ áo</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="sleeveStyleFilter" ng-model="selectedWrist2" ng-change="filterProductSale()" ng-options="wrist.id as wrist.name for wrist in wrists">
                <option value="">Chọn cổ tay</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="sizeFilter" ng-model="selectedSize2" ng-change="filterProductSale()" ng-options="size.id as size.name for size in sizes">
                <option value="">Chọn kích cỡ</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="colorFilter" ng-model="selectedColor2" ng-change="filterProductSale()" ng-options="color.id as color.name for color in colors">
                <option value="">Chọn màu sắc</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="materialFilter" ng-model="selectedMaterial2" ng-change="filterProductSale()" ng-options="material.id as material.name for material in materials">
                <option value="">Chọn chất liệu</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="refreshDataProductSale()">Làm mới</button>
        </div>
    </div>
    
          <!-- Row for "Sản phẩm đã áp dụng" -->
          <div class="row">
            <div class="col-12">
                <div class="tab-pane fade show active" id="appliedProductsTab">
                    <h5>Sản phẩm đã áp dụng</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Giá khuyến mãi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="productSale in productSales">
                                <td><input type="checkbox" ng-model="productSale.selected" ng-change="toggleProductSaleSelection(productSale)"></td>
                                <td>{{ productSale.product.code }}</td>
                                <td>{{ productSale.product.name }}</td>
                                <td></td>
                                <td>{{formatCurrency(productSale.product.price)  }} VNĐ</td>
                                <td>{{formatCurrency(productSale.promotionalPrice)  }} VNĐ</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger" ng-click="deleteSelected()" ng-if="getSaleStatusFromLocal() !== '3'">Xóa các mục đã chọn</button>
                    <button class="btn btn-danger" ng-click="deleteAll()" ng-if="getSaleStatusFromLocal() !== '3'">Xóa tất cả</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12" ng-if="totalPages2 > 1">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage2 === 0}">
                            <a href="" ng-click="setCurrentPageProductSales2(0)">
                                First
                            </a>
                        </li>
                        <li ng-class="{disabled: currentPage2 === 0}">
                            <a href="" ng-click="setCurrentPageProductSales2(currentPage2 - 1)">
                                Previous
                            </a>
                        </li>
            
                        {{ currentPage2 + 1 }}
            
                        <li ng-class="{disabled: currentPage2 === totalPages2 - 1}">
                            <a href="" ng-click="setCurrentPageProductSales2(currentPage2 + 1)">
                                Next
                            </a>
                        </li>
                        <li ng-class="{disabled: currentPage2 === totalPages2 - 1}">
                            <a href="" ng-click="setCurrentPageProductSales2(totalPages2 - 1)">
                                Last
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

</div>
