<link rel="stylesheet" href="./pages/employee/detailEmployee.css" />
<main class="content">
    <div class="de-detailemployee-main">
        <center>
            <h3>Thông tin nhân viên</h3>
        </center>
        <div class="row">
            <div class="col-4">
                <div>
                    <label for="image-update">
                        <img id="image-preview-update" style="width: 250px; height: 250px"
                            ng-src="{{formUpdateEm.avatar ? formUpdateEm.avatar : '/src/admin/common/img/no-img.png'}}" />
                    </label>
                    <input type="file" name="path" id="image-update" style="display: none" />
                </div>
                <button ng-click="uploadBtnUpdate()">Cập Nhật Ảnh</button>
            </div>

            <div class="col-8">
                <div class="row">
                    <div>
                        <form name="formUpdateEmployee" ng-submit="formUpdateEmployee.$valid && submitFormUpdate()"
                            novalidate>
                            <div class="row mb-3">
                                <label for="inputFullName" class="col-sm-3 col-form-label">Họ Tên</label>
                                <div class="col-sm-9">
                                    <input name="fullName" id="inputFullName" type="text" class="form-control"
                                        ng-model="formUpdateEm.fullName" required />
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.fullName.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="row mb-3">
                            <label for="inputaccount" class="col-sm-3 col-form-label">Tài khoản</label>
                            <div class="col-sm-9">
                                <input name="account" id="inputaccount" type="text" class="form-control"
                                    ng-model="formInputAccount.account" ng-change="checkAccount()" required />
                                <span ng-show="formUpdateEmployee.$submitted">
                                    <div ng-show="formUpdateEmployee.account.$invalid"
                                        class="error-message text-danger form-text">
                                        Họ Tên không được để trống
                                    </div>
                                    <div ng-show="accountError" class="error-message text-danger form-text">
                                        {{accountError}}
                                    </div>
                                </span>
                            </div>
                        </div> -->
                            <div class="row mb-3">
                                <label for="inputphonenumber" class="col-sm-3 col-form-label">SĐT</label>
                                <div class="col-sm-9">
                                    <input name="phoneNumber" id="inputphonenumber" type="text" class="form-control"
                                        ng-model="formInputAccount.phoneNumber" ng-change="checkPhoneNumber()" required
                                        ng-pattern="/^(\+84|0)[2|3|5|7|8|9][0-9]{8}$/" />
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.phoneNumber.$error.required"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                        <div ng-show="!formUpdateEmployee.phoneNumber.$error.required && formUpdateEmployee.phoneNumber.$error.pattern"
                                            class="error-message text-danger form-text">
                                            Số điện thoại không hợp lệ
                                        </div>
                                        <div ng-show="phoneNumberError" class="error-message text-danger form-text">
                                            {{phoneNumberError}}
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="inputemail" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input name="email" id="inputemail" type="mail" class="form-control"
                                        ng-model="formInputAccount.email" ng-change="checkEmail()" required />
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.email.$error.required"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                        <div ng-show="!formUpdateEmployee.email.$error.required && formUpdateEmployee.email.$error.email"
                                            class="error-message text-danger form-text">
                                            Email không hợp lệ
                                        </div>
                                        <div ng-show="emailError" class="error-message text-danger form-text">
                                            {{emailError}}
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputBirthDate" class="col-sm-3 col-form-label">Ngày Sinh</label>
                                <div class="col-sm-9">
                                    <input name="birthDate" id="inputBirthDate" type="date" class="form-control"
                                        ng-model="formUpdateEm.birthDate" required />
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.birthDate.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputAddress" class="col-sm-3 col-form-label">Địa Chỉ</label>
                                <div class="col-sm-9">
                                    <input name="address" id="inputAddress" type="text" class="form-control"
                                        ng-model="formUpdateEm.address" required />
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.address.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div>
                                <button type="submit">Cập Nhật Thông Tin</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form name="formUpdatePassword" novalidate>
                            <div class="row mb-3">
                                <label for="currentPassword" class="col-sm-3 col-form-label">Mật khẩu hiện tại</label>
                                <div class="col-sm-9">
                                    <input name="currentPassword" id="currentPassword" type="password"
                                        class="form-control" ng-model="currentPassword" ng-change="checkPassword()" required />
                                    <span ng-show="formUpdatePassword.$submitted">
                                        <div ng-show="formUpdatePassword.currentPassword.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                    <span ng-show="!passwordMatched && formUpdatePassword.$submitted">
                                        <div class="error-message text-danger form-text">
                                            Mật khẩu hiện tại không đúng
                                        </div>
                                    </span>
                                </div>
                            </div>
                        
                            <div class="row mb-3">
                                <label for="newPassword" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                                <div class="col-sm-9">
                                    <input name="password" id="newPassword" type="password" class="form-control"
                                        ng-model="formUpdateEm.password" required />
                                    <span ng-show="formUpdatePassword.$submitted">
                                        <div ng-show="formUpdatePassword.newPassword.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                </div>
                            </div>
                        
                            <div class="row mb-3">
                                <label for="confirmPassword" class="col-sm-3 col-form-label">Xác nhận mật khẩu</label>
                                <div class="col-sm-9">
                                    <input name="confirmPassword" id="confirmPassword" type="password"
                                        class="form-control" ng-model="formUpdate.confirmPassword"
                                        password-match="formUpdate.newPassword" required />
                                    <span ng-show="formUpdatePassword.$submitted">
                                        <div ng-show="formUpdatePassword.confirmPassword.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống
                                        </div>
                                    </span>
                                    <span ng-show="formUpdatePassword.$submitted || formUpdate.confirmPassword.$touched">
                                        <div ng-show="formUpdatePassword.confirmPassword.$error.match"
                                            class="error-message text-danger form-text">
                                            Mật khẩu không khớp
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <button type="button" ng-click="suaAccountPassword()">Cập nhật mật khẩu</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>