<div class="modal fade" tabindex="-1" id="addVoucherModal" role="dialog">
    <div class="modal-dialog" ng-class="{'modal-xl': formInputVoucher.visibility == 1, 'modal-default': formInputVoucher.visibility == 2}" role="document">
        <div class="modal-content">
            <form name="formAddVoucher" ng-submit="formAddVoucher.$valid && addVoucher()" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">Thêm mới voucher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-class="{'col-12': formInputVoucher.visibility == 2, 'col-6': formInputVoucher.visibility == 1}">
                            <!-- Form nội dung -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Mã</label>
                                        <input type="text" name="addCode" class="form-control"
                                            ng-change="checkDuplicateCode()"
                                            ng-model="formInputVoucher.code" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addCode.$invalid"
                                                class="error-message text-danger form-text">
                                                Mã không được để trống</div>
                                        </span>
                                        <span ng-show="formAddVoucher.$submitted || duplicateCodeError">
                                            <div ng-show="duplicateCodeError"
                                                class="error-message text-danger form-text">
                                                Mã voucher đã tồn tại
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text" name="addName" class="form-control"
                                            ng-change="checkDuplicateName()"
                                            ng-model="formInputVoucher.name" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addName.$invalid"
                                                class="error-message text-danger form-text">
                                                Tên không được để trống</div>
                                        </span>
                                        <span ng-show="formAddVoucher.$submitted || duplicateNameError">
                                            <div ng-show="duplicateNameError"
                                                class="error-message text-danger form-text">
                                                Tên voucher đã tồn tại
                                            </div>
                                        </span>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Loại</label>
                                        <select name="addType" class="form-select"
                                            ng-model="formInputVoucher.discountType"
                                            ng-change="discountTypeChangeAdd()">
                                            <option ng-value="1">Giảm theo %</option>
                                            <option ng-value="2">Giảm theo số tiền</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Giá trị</label>
                                        <div class="input-group">
                                            <input type="number" name="addValue" class="form-control"
                                                min="0"
                                                oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                                max="{{formInputVoucher.discountType == '1' ? '100' : ''}}"
                                                ng-model="formInputVoucher.value" ng-required="true">
                                            <span ng-if="formInputVoucher.discountType == 1"
                                                class="input-group-text" id="basic-addon2">%</span>
                                            <span ng-if="formInputVoucher.discountType == 2"
                                                class="input-group-text" id="basic-addon2">đ</span>
                                        </div>
                                        <span ng-show="formAddVoucher.$submitted">
                                            <!-- <div ng-if="formInputVoucher.discountType == '1' && formInputVoucher.value >= '100'"
                                                class="error-message text-danger form-text">
                                                100</div> -->
                                            <div ng-show="formAddVoucher.addValue.$invalid"
                                                class="error-message text-danger form-text">
                                                <div ng-show="formAddVoucher.addValue.$error.max">
                                                    Giá trị không được > 100%</div>
                              
                                                <div ng-show="formAddVoucher.addValue.$error.required">
                                                    Giá trị không được trống</div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Giá trị tối thiểu HD</label>
                                        <div class="input-group">
                                            <input type="number" name="addMinBill" class="form-control"
                                                oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0"
                                                ng-model="formInputVoucher.minimumTotalAmount"
                                                ng-required="true">
                                            <span class="input-group-text" id="basic-addon2">vnđ</span>
                                        </div>
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addMinBill.$invalid"
                                                class="error-message text-danger form-text">
                                                Giá trị tối thiểu HD không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Giá trị giảm tối đa</label>
                                        <div><input type="number" name="addMaxReVa" class="form-control"
                                                id="maximumReductionValue" min="0"
                                                oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0"
                                                ng-model="formInputVoucher.maximumReductionValue"
                                                ng-disabled="formInputVoucher.discountType == 2 ? true : fasle"
                                                ng-required="true">
                              
                                            <span ng-show="formAddVoucher.$submitted">
                                                <div ng-show="formAddVoucher.addMaxReVa.$invalid && formInputVoucher.discountType == 1"
                                                    class="error-message text-danger form-text">
                                                    Giá trị giảm không được để trống</div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Số lượng</label>
                                        <input type="number" name="addQuantity" class="form-control" min="0"
                                            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                            ng-model="formInputVoucher.quantity" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addQuantity.$invalid"
                                                class="error-message text-danger form-text">
                                                Số lượng không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Số lượt sử dụng</label>
                                        <input type="number" name="addNumberOfUses" class="form-control"
                                            min="1"
                                            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                            ng-model="formInputVoucher.numberOfUses" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addNumberOfUses.$invalid"
                                                class="error-message text-danger form-text">
                                                Số lượt sử dụng không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Hiển thị</label>
                                        <select name="addVisibility" class="form-select"
                                            ng-model="formInputVoucher.visibility">
                                            <option ng-value="1">Công khai</option>
                                            <option ng-value="2">Cá nhân</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-group">
                                    <label>Loại khách hàng được áp dụng</label>
                                    <div class="row">
                                        <select id="chosen-select" data-placeholder="Nhập để lọc ..."
                                            multiple class="chosen-select" ng-model="selectedCustomerTypes"
                                            ng-change="updateSelection()">
                                            <option ng-repeat="item in customerTypes" value="{{ item.id }}">
                                                {{
                                                item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <input type="text" name="addDescribe" class="form-control"
                                        ng-model="formInputVoucher.describe" ng-required="true">
                              
                                    <span ng-show="formAddVoucher.$submitted">
                                        <div ng-show="formAddVoucher.addDescribe.$invalid"
                                            class="error-message text-danger form-text">
                                            Mô tả không được để trống</div>
                                    </span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Ngày bắt đầu</label>
                                        <!-- <input type="datetime-local" name="addStartDate" class="form-control"
                                            max="{{formInputVoucher.endDate}}" ng-model="formInputVoucher.startDate"
                                            ng-change="updateStartDateMax()" ng-required="true"> -->
                              
                                        <input type="datetime-local" name="addStartDate"
                                            class="form-control" ng-attr-min="{{currentDateTime}}"
                                            max="{{formInputVoucher.endDate}}"
                                            ng-model="formInputVoucher.startDate"
                                            ng-change="updateStartDateMax()" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addStartDate.$error.required"
                                                class="error-message text-danger form-text">
                                                Ngày bắt đầu không được để trống</div>
                                        </span>
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addStartDate.$error.min"
                                                class="error-message text-danger form-text">
                                                Ngày bắt đầu không được nhỏ hơn ngày hiện tại</div>
                                        </span>
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addStartDate.$error.max"
                                                class="error-message text-danger form-text">
                                                Ngày bắt đầu không được nhỏ hơn ngày kết thúc</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Ngày kết thúc</label>
                                        <input type="datetime-local" name="addEndDate" class="form-control"
                                            min="{{formInputVoucher.startDate}}"
                                            ng-model="formInputVoucher.endDate"
                                            ng-change="updateEndDateMin()" ng-required="true">
                              
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addEndDate.$error.required"
                                                class="error-message text-danger form-text">
                                                Ngày kết thúc không được để trống</div>
                                        </span>
                                        <span ng-show="formAddVoucher.$submitted">
                                            <div ng-show="formAddVoucher.addEndDate.$error.min"
                                                class="error-message text-danger form-text">
                                                Ngày kết thúc không được nhỏ hơn ngày bắt đầu</div>
                                        </span>
                                    </div>
                                </div>
                              </div>
                            <!-- Các phần còn lại của form -->
                            <!-- Add other form fields here with similar ng-class conditions -->
                        </div>
                        <div class="col-6" ng-if="formInputVoucher.visibility == 1">
                            <div class="container mt-4">
                                <div class="row mb-0">
                                    <div class="col-4">
                                        <input type="text" class="form-control-sm"
                                            style="width: 100%;height: 25%;" placeholder="Tìm theo tên"
                                            ng-model="filtersCustomer.fullName"
                                            ng-change="applyFiltersCustomer()">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control-sm"
                                            style="width: 100%;height: 25%;" placeholder="Tìm theo SDT"
                                            ng-model="filtersCustomer.phoneNumber"
                                            ng-change="applyFiltersCustomer()">
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control-sm"
                                            ng-model="filtersCustomer.customerTypeId"
                                            ng-change="applyFiltersCustomer()">
                                            <option value="">Loại KH</option>
                                            <option ng-repeat="ct in customerTypes" ng-value="ct.id">{{ct.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <a class="btn btn-sm" ng-click="resetFiltersCustomer()"
                                            style="height: 75%;">
                                            <i class="material-icons mb-3" title="Edit">&#xf053;</i>
                                        </a>
                                    </div>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Tên</th>
                                            <th>Liên hệ</th>
                                            <th>Loại KH</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="customer in customers">
                                            <td>
                                                <input type="checkbox" ng-model="customer.selected"
                                                    ng-change="updateSelectedCustomers(customer)">
                                            </td>
                                            <td style="font-size: 13px;">{{ customer.fullName }}</td>
                                            <td style="font-size: 13px;">
                                                <div>{{ customer.account.phoneNumber }}</div>
                                                <div>{{ customer.account.email }}</div>
                                            </td>
                                            <td style="font-size: 13px;">{{ customer.customerType.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <ul class="pagination">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <button type="button" class="btn btn-sm  btn-primary"
                                                ng-disabled="currentPageCustomer == 0"
                                                ng-click="getCustomers(currentPageCustomer - 1)">Previous</button>
                                            <span class="ms-3 me-3">Page <input type="number"
                                                    style="height: 75%; width: 30%;"
                                                    class="form-control-sm d-inline-block ms-2 me-2"
                                                    ng-model="desiredPageCustomer" min="1"
                                                    max="{{totalPagesCustomer}}"
                                                    ng-change="goToPageCustomer()"> of
                                                {{totalPagesCustomer}}</span>
                                            <button type="button" class="btn btn-sm  btn-primary"
                                                ng-disabled="currentPageCustomer == totalPagesCustomer - 1"
                                                ng-click="getCustomers(currentPageCustomer + 1)">Next</button>
                                        </div>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-sm btn-primary"
                                    ng-click="submitSelected()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>