<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkbox List</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="myController">
    <div class="container mt-5">
        <div class="col-12 mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault0" value="0" ng-model="formInputVoucher.visibility">
                <label class="form-check-label" for="flexRadioDefault0">
                    Công khai
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1" ng-model="formInputVoucher.visibility">
                <label class="form-check-label" for="flexRadioDefault1">
                    Loại khách hàng
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2" ng-model="formInputVoucher.visibility">
                <label class="form-check-label" for="flexRadioDefault2">
                    Cá nhân
                </label>
            </div>
        </div>

        <div class="col-4" ng-if="formInputVoucher.visibility == 1">
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="checkbox" id="selectAll" class="form-check-input me-1" ng-checked="allChecked" ng-click="toggleSelectAll()">
                    <label for="selectAll" class="form-check-label"><strong>Select All</strong></label>
                </li>
                <li class="list-group-item" ng-repeat="ct in customerTypes">
                    <input type="checkbox" id="{{ct.id}}" name="items" ng-model="ct.selected" class="form-check-input me-1" ng-change="updateSelectAll()">
                    <label for="{{ct.id}}" class="form-check-label">{{ct.name}}</label>
                </li>
            </ul>
            <button class="btn btn-primary mt-3" ng-click="logCheckedCheckboxes()">Log Checked Checkboxes</button>
            <button class="btn btn-secondary mt-3" ng-click="resetCheckboxes()">Reset</button>
            <button class="btn btn-success mt-3" ng-click="checkCheckboxes([1, 3])">Check IDs 1, 3</button>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('myApp', [])
        .controller('myController', function($scope, $http) {
            $scope.formInputVoucher = {
                visibility: '0' // Default value
            };

            $scope.getAllCustomerType = function () {
                $http.get('http://localhost:8080/api/admin/customerType/all').then(function (res) {
                    $scope.customerTypes = res.data;
                    // Initialize the selected property for checkboxes
                    $scope.customerTypes.forEach(function(type) {
                        type.selected = false;
                    });
                });
            };

            $scope.getAllCustomerType();

            $scope.toggleSelectAll = function() {
                var selectAllStatus = !$scope.allChecked;
                $scope.customerTypes.forEach(function(type) {
                    type.selected = selectAllStatus;
                });
                $scope.allChecked = selectAllStatus;
            };

            $scope.updateSelectAll = function() {
                $scope.allChecked = $scope.customerTypes.every(function(type) {
                    return type.selected;
                });
            };

            $scope.logCheckedCheckboxes = function() {
                const checkedCheckboxes = $scope.customerTypes
                    .filter(ct => ct.selected)
                    .map(ct => ct.id);
                console.log(checkedCheckboxes);
            };

            $scope.resetCheckboxes = function() {
                $scope.customerTypes.forEach(function(type) {
                    type.selected = false;
                });
                $scope.allChecked = false;
            };

            $scope.checkCheckboxes = function(ids) {
                $scope.customerTypes.forEach(function(type) {
                    type.selected = ids.includes(type.id);
                });
                $scope.updateSelectAll();
            };
        });
    </script>
</body>
</html>