<div class="main-content" ng-controller="ColorController">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">

                <div class="table-title">
                    <div class="row align-items-center">
                        <div class="col-sm-3 p-0 d-flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">Màu sắc</h2>
                        </div>
                       
                        <div class="col-sm-9 p-0 d-flex justify-content-lg-end justify-content-center">
                            <a data-bs-target="#addColorModel" class="btn btn-success" data-bs-toggle="modal">
                                <i class="material-icons">&#xE147;</i>
                                <span>Thêm mới</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 mt-3 mb-3 align-items-end">
                    <div class="col-sm-4">                        
                        <input type="text" id="name" ng-model="filter.keyword" class="form-control" placeholder="Tìm kiếm...">
                    </div>
                    <div class="col-sm-3">
                        <label for="sortField">Sắp xếp theo</label>
                        <select ng-model="filter.sortField" class="form-select" id="sortField">
                          <option value="createdAt">Thời gian tạo</option>
                          <option value="updatedAt">Thời gian cập nhật</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="sortDirection">Thứ tự</label>
                        <select ng-model="filter.sortDirection" class="form-select" id="sortDirection">
                          <option value="ASC">Tăng dần</option>
                          <option value="DESC">Giảm dần</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                            <button ng-click="searchColors()" class="btn btn-primary" type="submit" id="button-addon2">
                                Tìm kiếm
                            </button>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên màu sắc</th>
                            <th>Màu</th>
                            <th>Thời gian tạo</th>
                            <th>Thời gian cập nhật</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center" ng-if="colors.content.length === 0">

                            <th colspan="7">Không có dữ liệu</th>

                        </tr>
                        <tr ng-repeat="color in colors.content">
                            <th>{{color.id}}</th>
                            <th>{{color.name}}</th>
                            <th><input type="color" class="form-control form-control-color" ng-value="color.colorCode" id="exampleColorInput" title="{{color.colorCode}}" disabled></th>
                            <th>{{color.createdAt | date : "dd-MM-yyyy hh:mm:ss" : 0}}</th>
                            <th>{{color.updatedAt | date : "dd-MM-yyyy hh:mm:ss" : 0}}</th>
                            <th>
                                <span class="badge rounded-pill" ng-class="{'bg-success': color.status === 1, 'bg-danger': color.status === 0}">
                                    {{ color.status === 1 ? 'Hiển thị' : 'Không hiển thị' }}
                                </span>
                            </th>   
                            <th>
                                <a ng-click="editColor(color.id)" data-bs-target="#editColorModal" style="cursor: pointer;" class="edit" data-bs-toggle="modal">
                                    <i class="material-icons" data-bs-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a ng-click="handleDelete(color)" ng-if="color.status === 1" data-bs-target="#deleteColorModel" class="delete" data-bs-toggle="modal">
                                    <i class="material-icons" data-bs-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                                <a ng-click="handleStatus(color)" ng-if="color.status === 0" class="status" data-bs-target="#updateStatusModel" data-bs-toggle="modal">
                                    <i class="material-icons" data-bs-toggle="tooltip" title="Status">settings_backup_restore</i>
                                </a>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <div class="clearfix">
                    <div class="hint-text">Trang hiện tại <b>{{currentPage + 1}}</b> / <b>{{totalPages}}</b></div>
                    <div class="ms-4 me-3 hint-text">Số lượng hiển thị: 
                    </div>
                    <input id="size" ng-model="size" ng-change="getAllColors()" value="1" type="number" max="100" min="1" class="form-control" style="width: 5rem;" required/>
                    <ul class="pagination">
                        <li class="page-item" ng-class="{disabled: currentPage === 0}">
                            <a class="page-link" ng-click="changePage(0)">Trang đầu</a>
                        </li>
                        <li class="page-item" ng-class="{disabled: currentPage === 0}">
                            <a class="page-link" ng-click="changePage(currentPage - 1)">&lt;</a>
                        </li>
                        <li class="page-item" ng-repeat="page in [].constructor(totalPages) track by $index" ng-class="{active: $index === currentPage}">
                            <a class="page-link" ng-click="currentPage !== $index && changePage($index)">{{$index + 1}}</a>
                        </li>
                        <li class="page-item" ng-class="{disabled: currentPage === totalPages - 1}">
                            <a class="page-link" ng-click="changePage(currentPage + 1)">&gt;</a>
                        </li>
                        <li class="page-item" ng-class="{disabled: currentPage === totalPages - 1}">
                            <a class="page-link" ng-click="changePage(totalPages - 1)">Trang cuối</a>
                        </li>
                    </ul>
                </div>

                <!----add-modal start--------->
                <div class="modal fade" tabindex="-1" id="addColorModel" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm mới</h5>
                                <button ng-click="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form name="colorForm" ng-submit="createColor()" novalidate>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Tên màu sắc</label>
                                        <input type="text" ng-model="color.name" class="form-control" required>
                                        <p class="text-danger" ng-if="errors.name">{{errors.name}}</p>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="colorCode" class="form-label">Chọn màu</label>
                                        <input type="color" ng-model="color.colorCode" class="form-control form-control-color" id="exampleColorInput" title="Choose your color" required>
                                        <p class="text-danger" ng-if="errors.colorCode">{{errors.colorCode}}</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="resetForm()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <button type="submit" ng-disabled="colorForm.$invalid" class="btn btn-success">Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!----add-modal end--------->

                <!----edit-modal start--------->
                <div class="modal fade" tabindex="-1" id="editColorModal" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cập nhật</h5>
                                <button ng-click="resetFormUpdate()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form name="colorFormUpdate" ng-submit="updateColor()" novalidate>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Tên màu sắc</label>
                                        <input type="text" ng-model="colorUpdate.name" class="form-control" required> 
                                        <p class="text-danger" ng-if="errorsUpdate.name">{{errorsUpdate.name}}</p>                                   
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="colorCode" class="form-label">Chọn màu</label>
                                        <input type="color" ng-model="colorUpdate.colorCode" class="form-control form-control-color" id="exampleColorInput" title="Choose your color" required>
                                        <p class="text-danger" ng-if="errorsUpdate.colorCode">{{errorsUpdate.colorCode}}</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="resetFormUpdate()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <button type="submit" ng-disabled="colorFormUpdate.$invalid" class="btn btn-success">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!----edit-modal end--------->

                <!----delete-modal start--------->
                <div class="modal fade" tabindex="-1" id="deleteColorModel" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xóa</h5>
                                <button ng-click="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn có chắc muốn xóa {{color.name}} không?</p>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="resetForm()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button ng-click="delete()" type="button" class="btn btn-success">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!----delete-modal end--------->
 <!----update-status-modal start--------->
 <div class="modal fade" tabindex="-1" id="updateStatusModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Khôi phục trạng thái</h5>
                <button ng-click="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn khôi phục trạng thái {{color.name}} không?</p>
            </div>
            <div class="modal-footer">
                <button ng-click="resetForm()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button ng-click="updateStatus()" type="button" class="btn btn-success">Khôi phục</button>
            </div>
        </div>
    </div>
</div>
<!----update-status-modal end--------->
            </div>
        </div>
    </div>
</div>
